<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed class="ion-align-items-center ion-justify-content-center">
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="6" class="ion-hide-xl-down">
				<ion-img
					[src]="'/assets/illustrations/Amministrazione.png'"
				></ion-img>
			</ion-col>
			<ion-col size="12" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
					color="verdechiaro"
				>
					<ion-text class="ion-text-center ion-padding-horizontal">
						<h2 class="text-color-bianco">
							Benvenuto {{username}}!
						</h2>
					</ion-text>

					<ion-button
						[routerLink]="['/gestisci-piatti']"
						size="default"
						fill="solid"
						shape="round"
						color="rosso"
					>
						Gestisci piatti
					</ion-button>
					<ion-button
						[routerLink]="['/gestisci-filiali']"
						size="default"
						fill="solid"
						shape="round"
						color="rosso"
					>
						Gestisci filiali
					</ion-button>

					<ion-button
						[routerLink]="['/visualizza-utili']"
						size="default"
						fill="solid"
						shape="round"
						color="rosso"
					>
						Gestisci utili
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
