<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed>
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="12" size-md="4" size-lg="6" class="ion-text-center">
				<ion-img
					[src]="'/assets/illustrations/Amministrazione.png'"
				></ion-img>
			</ion-col>
			<ion-col size="12" size-md="4" size-lg="6" class="ion-text-center">
				<ion-card>
					<h1>Benvenuto {{username}}!</h1>

					<ion-button
						[routerLink]="['/gestisci-piatti']"
						size="default"
						fill="solid"
						shape="round"
						color="rosso"
					>
						Gestisci piatti
					</ion-button>
					<ion-button
						[routerLink]="['/gestisci-filiali']"
						size="default"
						fill="solid"
						shape="round"
						color="rosso"
					>
						Gestisci filiali
					</ion-button>

					<ion-button
						[routerLink]="['/visualizza-utili']"
						size="default"
						fill="solid"
						shape="round"
						color="rosso"
					>
						Gestisci utili
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
