.custom-card {
	background-color: #eae1e1;
	border-radius: 25px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

	overflow: visible;

	.image-upload {
		max-width: 400px;
		border: 2px solid black;
		border-radius: 25px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		ion-icon {
			font-size: 60px;
			color: #888;
		}

		ion-img {
			width: 100%;
			object-fit: cover; // Ritagliamo l'immagine se necessario
			border-radius: 25px;
			aspect-ratio: 1/1; // Impostiamo l'aspect ration quadrato
		}

		ion-img::part(image) {
			border-radius: 22px !important; // Arrotondiamo anche l'immagine interna dell'ion-img
		}

		&:hover {
			filter: brightness(85%);
		}
	}

	.form-fields {
		min-width: 500px;
		gap: 0.5em;

		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		ion-input,
		ion-textarea,
		ion-select {
			--background: var(--ion-color-bianco);
			--color: black;
			border-radius: 10px;
			width: 100%;
			font-size: 1.2rem;
		}
	}
}

ion-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
}

.page-wrapper {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.campo-form {
	border-radius: 12px;
	overflow: hidden;
	--background: white;
	color: black;
	--color: black;
	--border-radius: 12px;
	--inner-border: none;
	--border: none;
	width: 100%;
}

@media (max-width: 1024px) {
	.image-upload {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		max-width: 300px !important;
		width: fit-content;
	}

	.page-wrapper {
		margin-bottom: 50px;
		overflow: scroll;
	}

	.form-fields {
		min-width: 300px !important;
		gap: 1rem;
	}
}

ion-textarea .textarea-wrapper-inner.sc-ion-textarea-md {
	height: 125px !important;
}
