<ion-content [fullscreen]="true" color="bianco">
	<div class="page-wrapper">
		<ion-grid
			fixed
			class="ion-align-items-center ion-justify-content-center"
		>
			<ion-row class="ion-align-items-center ion-justify-content-center">
				<!-- Colonna sinistra: form -->
				<ion-col size="12" size-md="6">
					<ion-card
						class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
						color="verdechiaro"
					>
						<ion-text
							class="ion-text-center ion-padding-horizontal"
						>
							<h3 class="text-color-bianco">
								PAGAMENTO EFFETTUATO
							</h3>
						</ion-text>

						<ion-text
							class="ion-text-center ion-padding-horizontal"
						>
							<h4 class="text-color-bianco">
								Grazie per averci scelto!
							</h4>
						</ion-text>

						<!-- Bottone finale -->
						<ion-button
							(click)="generaRicevuta()"
							size="default"
							fill="solid"
							shape="round"
							color="rosso"
							expand="block"
							class="ion-padding-horizontal ion-padding-vertical text-color-bianco"
						>
							SCARICA RICEVUTA
						</ion-button>
					</ion-card>
				</ion-col>
				<!-- Colonna destra: immagine -->
				<ion-col size-md="6" class="ion-hide-xl-down ion-padding-start">
					<ion-img
						src="/assets/illustrations/PagamentoCarta.png"
					></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
