<ion-content
	[fullscreen]="true"
	class="ion-justify-content-center ion-align-items-center"
	color="bianco"
>
	<div class="page-wrapper">
		<ion-text class="ion-text-center ion-padding">
			<h2>Modifica Filiale</h2>
		</ion-text>
		<ion-card class="ion-padding ion-margin">
			<ion-card-content>
				<ion-grid fixed>
					<ion-row>
						<ion-col size="12" sizeLg="6">
							<!-- Box immagine cliccabile -->
							<div
								class="image-upload bg-color-biancaneve"
								(click)="fileInput.click()"
							>
								<input
									#fileInput
									type="file"
									accept="image/jpg, image/png, image/jpeg, image/webp"
									hidden
									(change)="onFileSelected($event)"
								/>

								<ion-img
									[src]="filiale.immagine ? filiale.immagine : 'assets/PlaceholderImage.jpg'"
									alt="Anteprima immagine"
								/>
							</div>
						</ion-col>
						<ion-col size="12" sizeLg="6">
							<!-- Campi form -->
							<div class="form-fields">
								<ion-item class="campo-form" lines="none">
									<ion-input
										placeholder="Modifica l'indirizzo..."
										label="Indirizzo"
										[(ngModel)]="filiale.indirizzo"
										(ionInput)="cercaIndirizzo($event)"
										[debounce]="250"
										class="ion-padding-horizontal"
									/>
								</ion-item>
								<!-- Lista suggerimenti -->

								@if(suggerimenti.length > 0){
								<div class="autocomplete-wrapper">
									<ion-list>
										@for(suggerimento of suggerimenti; track
										suggerimento){
										<ion-item
											(click)="selezionaIndirizzo(suggerimento)"
										>
											{{suggerimento.display_name}}
										</ion-item>
										}
									</ion-list>
								</div>
								}

								<ion-item class="campo-form" lines="none">
									<ion-input
										type="text"
										label="Comune"
										color="rosso"
										placeholder="Modifica il comune della filiale..."
										[(ngModel)]="filiale.comune"
									/>
								</ion-item>

								<ion-item class="campo-form" lines="none">
									<ion-input
										type="number"
										label="Tavoli"
										color="rosso"
										placeholder="Modifica il numero dei tavoli..."
										[(ngModel)]="filiale.num_tavoli"
										min="1"
									/>
								</ion-item>

								<ion-button
									size="default"
									fill="solid"
									shape="round"
									color="verdechiaro"
									expand="block"
									type="submit"
									class="ion-padding-vertical"
									(click)="modificaFiliale()"
									[disabled]="loading ||  filiale.immagine == null || filiale.indirizzo == '' || filiale.comune == '' || filiale.num_tavoli < 1"
								>
									MODIFICA FILIALE
								</ion-button>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
