<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modificaDipendenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<div class="page-title">
  Modifica dipendenti 
  <ion-chip [outline]="selectedCategoria !== 'Chef'" color="primary" (click)="filterChef()">Chef</ion-chip>
  <ion-chip [outline]="selectedCategoria !== 'camerieri'" color="secondary" (click)="filterCamerieri()">Camerieri</ion-chip>
  <ion-chip [outline]="selectedCategoria !== 'Amministratori'" color="success" (click)="filterAmministratori()">Amministratori</ion-chip>
  <ion-chip [outline]="selectedCategoria !== 'Tutti'" color="danger" (click)="filterTutti()">Tutti</ion-chip>
</div>


	<div class="input-row">
		<div class="input-wrapper">
			<ion-input
  [(ngModel)]="searchTerm"
  (ionInput)="applyFilters()"
  placeholder="Cerca un dipendente..."
></ion-input>

		</div>
		<!-- Puoi aggiungere altri elementi qui, se vuoi -->
	</div>
	<div class="grid-container">
		<div class="center-container">
			<ion-button
				class="circle-button"
				[routerLink]="['/aggiungi-dipendenti']"
				>+<ion-icon name="add"></ion-icon>
			</ion-button>
		</div>
		@for (p of filteredDipendenti; track p.matricola ){
		<ion-card>
			<ion-img
				[src]="p.foto"
				alt="foto del dipendente"
				class="immagine-rotante"
			></ion-img>

			<ion-card-header>
				<ion-card-title>{{ p.nome }}  {{ p.cognome }} </ion-card-title>
        matricola:: {{ p.matricola }}<br />
				Ruolo: {{ p.ruolo }}<br />
        Email: {{p.email}}<br />
        data di nascita: {{p.data_nascita}}<br />
			</ion-card-header>

			<ion-card-content>
				<div class="button-vertical">
					<ion-button
						expand="block"
						color="secondary"
						[routerLink]="['/modifica-dati-dipendenti']"
						[state]="{ dipendente: p }"
						>Modifica dati dipendente</ion-button
					>
					<ion-button
						expand="block"
						color="primary"
						(click)="showAlert(p)"
						>Licenzia dipendente</ion-button
					>
				</div>
			</ion-card-content>
		</ion-card>
		}
	</div>

	<!-- Alert fuori dal ciclo -->
	<ion-alert
  [isOpen]="isAlertOpen"
  header="Conferma"
  [message]="
    'Vuoi licenziare il dipendente:' + ' ' +
    (selectedDipendente?.nome || '') + ' ' + (selectedDipendente?.cognome || '') + ', ' +
    'Ruolo: ' + (selectedDipendente?.ruolo || '') 
  "
  [buttons]="alertButtons"
  (didDismiss)="isAlertOpen = false"
>
</ion-alert>


</ion-content>
