ion-grid {
	height: 100vh;
	display: flex;
	width: 100vw;
}

ion-card {
	gap: 2rem;
	display: flex;
	flex-direction: column;
	height: 80vh;
}

.errorMsg {
	color: var(--ion-color-rosso);
	font-weight: bolder;
}

.campoForm {
	border-radius: 12px; // o quanto vuoi
	overflow: hidden; // utile per non tagliare il focus ring
	--background: white; // se vuoi un colore di sfondo
	--border-radius: 12px; // supportato da molti temi Ionic
}
