ion-grid {
	height: 100vh;
	display: flex;
	width: 100vw;
}

ion-card {
	display: flex;
	flex-direction: column;
	height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

ion-content {
	overflow: scroll;
}

.errorMsg {
	color: var(--ion-color-rosso);
	font-weight: bolder;
}

// Classe del wrapper dei campi del form
.form-fields {
	min-width: 500px; // Almeno 500 px di larghezza
	gap: 1.5em; // Spaziamo i componenti

	height: fit-content; // Deve essere grande solo quanto basta
	display: flex; // Mettiamo flex per jestire la giustificazione e l'allineamento
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// Classe del singolo campo
	.campo-form {
		max-width: 600px; // Limitiamo larghezza sia massima
		min-width: 400px; // che minima
		width: 80%; // Prendiamo solo l'80% della grandezza disponibile
		border-radius: 12px; // Arrotondiamo i campi
		--border-radius: 12px;
		overflow: hidden; // non mostriamo l'overflow
		--background: white;
		color: black;
		--color: black;
	}

	// Se il campo è stato selezionato (e quindi c'è l'errore)
	.touched::part(native) {
		padding-bottom: 5px; // Allora mettiamo un po' di padding per fare leggere meglio l'errore
	}

	ion-input,
	ion-textarea,
	ion-select {
		--background: var(--ion-color-bianco);
		--color: black;
		border-radius: 10px;
		width: 100%;
	}

	ion-button {
		width: 80%;
	}
}
