<!--
	Questo componente viene utilizando quando l'utente sta sfogliando le proprie ordinazioni, 
	oppure quando lo chef o il cameriere devono visualizzare le comande di un determinato tavolo.
	
	Permette agli utenti di visualizzare lo stato di un piatto, e qualora ne avessero i poteri, di cambiare stato.
-->

<div [ngClass]="ruolo" class="plate">
	<!--
		Qualora l'utente sia un cliente, visualizziamo lo stato attuale del piatto.
	-->
	@if (this.ruolo == 'cliente') {
		@if (this.statoPiatto == 'non-in-lavorazione') {
			<div class="circle non-lavorazione"></div>
		} @else if (this.statoPiatto == 'in-lavorazione') {
			<div class="circle in-lavorazione"></div>
		} @else if (this.statoPiatto == 'in-consegna') {
			<div class="circle in-consegna"></div>
		} @else if (this.statoPiatto == 'consegnato') {
			<div class="circle consegnato"></div>
		}
	}

	<img
		[src]="prodotto.immagine"
		alt="Immagine del piatto"
		class="immagine-rotante"
	/>
	<div class="plateInfo">
		<ion-text class="ion-text-center">
			<h2 class="text-color-bianco">{{ prodotto.nome }}</h2>
		</ion-text>

		@if (prodotto.descrizione != '') {
			<ion-text class="ion-text-left">
				<h4 class="text-color-bianco">{{ prodotto.descrizione }}</h4>
			</ion-text>
		}

		@if (this.ruolo == 'cliente') {
			<ion-text class="ion-text-center">
				<h2 class="text-color-bianco">{{ prodotto.costo }}€</h2>
			</ion-text>
		}
	</div>

	<!--
		Qualora l'utente sia uno chef, allora facciamo apparire i pulsanti di inizio e fine lavorazione
	-->
	@if (this.ruolo == 'chef') {
		<div class="bottoni-chef">
			@if (this.statoPiatto == 'non-in-lavorazione') {
				<ion-button color="arancione" (click)="iniziaLavorazione()">
					INIZIA LAVORAZIONE
				</ion-button>
			} @else if (this.statoPiatto == 'in-lavorazione') {
				<ion-button color="rosso" (click)="fineLavorazione()">
					FINE LAVORAZIONE
				</ion-button>
			} @else if (this.statoPiatto == 'in-consegna') {
				<ion-text class="ion-text-center">
					<h4 class="text-color-bianco">IN CONSEGNA</h4>
				</ion-text>
			} @else if (this.statoPiatto == 'consegnato') {
				<ion-text class="ion-text-center">
					<h4 class="text-color-bianco">CONSEGNATO</h4>
				</ion-text>
			}
		</div>
	}
	<!--
		Qualora l'utente sia un cameriere, allora facciamo apparire i pulsanti di consegna e cestinazione
	-->
	@else if (this.ruolo == 'cameriere') {
		<div class="bottoni-cameriere">
			@if (this.statoPiatto == 'in-consegna') {
				<ion-button
					size="default"
					fill="solid"
					shape="round"
					color="arancione"
					expand="block"
					type="submit"
					(click)="consegna()"
				>
					CONSEGNA
				</ion-button>
				<ion-button
					size="default"
					fill="solid"
					shape="round"
					color="rosso"
					expand="block"
					type="submit"
					(click)="cestina()"
				>
					CESTINA
				</ion-button>
			} @else if (this.statoPiatto == 'non-in-lavorazione') {
				<ion-text class="ion-text-center">
					<h4 class="text-color-bianco">NON IN LAVORAZIONE</h4>
				</ion-text>
			} @else if (this.statoPiatto == 'in-lavorazione') {
				<ion-text class="ion-text-center">
					<h4 class="text-color-bianco">IN LAVORAZIONE</h4>
				</ion-text>
			} @else if (this.statoPiatto == 'consegnato') {
				<ion-text class="ion-text-center">
					<h4 class="text-color-bianco">CONSEGNATO</h4>
				</ion-text>
			}
		</div>
	}
	<!--
		Qualora l'utente sia un cliente, allora facciamo apparire il pulsante di pagamento
		alla romana tra gli altri commensali
	-->
	@else if (this.ruolo == 'cliente') {
		<ion-checkbox
			slot="start"
			[checked]="prodotto.is_romana"
			(ionChange)="cambiaRomana()"
			label-placement="stacked"
			alignment="center"
			color="bianco"
			[ngClass]="{ selected: prodotto.is_romana }"
		>
			ROMANA?
		</ion-checkbox>
	}
</div>
