ion-button {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 1em;
	align-items: start;
}

ion-card {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: start;
	background-color: transparent;
	--background: transparent;
	box-shadow: none;
}

.img-filiale {
	width: 20%;
	height: 20%;
	object-fit: cover;
	min-width: 100px;
	aspect-ratio: 1/1;
}

.img-filiale::part(image) {
	border-radius: 25px;
}

ion-text,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	width: 100%;
	text-transform: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}
