<div id="contenitoreRicevuta">
	<div class="content-wrapper">
		<div class="pdf-section header">
			<img [src]="logo" alt="logo" />
			<h2>Ricevuta</h2>
			<small>{{ data }}</small>
		</div>

		<div class="pdf-section tabella">
			<div class="riga intestazione">
				<span>PRODOTTO</span>
				<span>QUANTITÀ</span>
				<span>PREZZO</span>
			</div>
			@for (elemento of prodottiRaggruppati; track elemento) {
				<div class="riga">
					<span>{{ elemento.prodotto.nome }}</span>
					<span>{{ elemento.quantita }}</span>
					<span
						>€
						{{
							(
								elemento.prodotto.costo * elemento.quantita
							).toFixed(2)
						}}</span
					>
				</div>
			}
		</div>

		<div class="pdf-section totale">Totale: € {{ totale }}</div>

		<div class="pdf-section footer">
			&copy; Ciscusassi 2025 - Tutti i diritti riservati<br />
			Leonardo Giovanni Caiezza<br />
			Diego Corona<br />
			Luca Gaetani<br />
			Daniele Orazio Susino<br />
		</div>
	</div>
</div>
