<div id="contenitoreRicevuta">
	<div class="content-wrapper">
		<div class="pdf-section header">
			<img [src]="logo" alt="logo" />
			<h2>Ricevuta</h2>
			<small>{{ data }}</small>
		</div>

		<div class="pdf-section tabella">
			<div class="riga intestazione">
				<span class="text-color-bianco">PRODOTTO</span>
				<span class="text-color-bianco">QUANTITÀ</span>
				<span class="text-color-bianco">PREZZO</span>
			</div>
			@for (elemento of prodottiRaggruppati; track elemento) {
				<div class="riga">
					<span class="text-black">{{ elemento.prodotto.nome }}</span>
					<span class="text-black">{{ elemento.quantita }}</span>
					<span class="text-black"
						>
						{{
							(
								elemento.prodotto.costo * elemento.quantita
							).toFixed(2)
						}}€</span
					>
				</div>
			}
		

		@if (this.servizio == 'tavolo') {
			<div class="riga">
			<span class="text-black">sconti applicati (fidelity) e prodotti divisi alla romana</span>
					<span class="text-black"></span>
					<span class="text-black">
						-{{ (totale - totaleQuery) | number }}€
					</span>
			</div>
		}
		</div>

		<div class="pdf-section totale">Totale: € {{ totaleQuery }}</div>
		
		<div class="pdf-section footer">
			&copy; Ciscusassi 2025 - Tutti i diritti riservati<br />
			Leonardo Giovanni Caiezza<br />
			Diego Corona<br />
			Luca Gaetani<br />
			Daniele Orazio Susino<br />
		</div>
	</div>
</div>
