<ion-content [fullscreen]="true">
	<div class="status-container">
		<div class="status">
			<div class="circle non-lavorazione"></div>
			<div class="label">NON IN LAVORAZIONE</div>
		</div>
		<div class="status">
			<div class="circle in-lavorazione"></div>
			<div class="label">IN LAVORAZIONE</div>
		</div>
		<div class="status">
			<div class="circle in-consegna"></div>
			<div class="label">IN CONSEGNA</div>
		</div>
		<div class="status">
			<div class="circle consegnato"></div>
			<div class="label">CONSEGNATO</div>
		</div>
	</div>
	@for (prodotto of prodotti; track prodotto.id_prodotto) {
	<div class="plate">
		<div class="circle consegnato"></div>
		<img
			[src]="prodotto.immagine"
			alt="Immagine del piatto"
			class="immagine-rotante"
		/>
		<div class="plateInfo">
			<h2>{{ prodotto.nome }} - {{ prodotto.costo }} €</h2>
			<h3>{{ prodotto.descrizione }}</h3>
		</div>
	</div>
	}

	<div class="button-group">
		<ion-button [routerLink]="['/menu-tavolo']" style="--background: var(--ion-color-verdechiaro);" >CONTINUA A ORDINARE</ion-button>
		<ion-button style="--background: var(--ion-color-rosso);">TERMINA SERVIZIO</ion-button>
	</div>
</ion-content>
