.page-wrapper {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.status-container {
	display: flex;
	min-height: 100px;
	height: 30%;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	padding-top: 3%;
	background-color: var(--ion-color-senape);
	font-family: 'Isocpeur-Regular', sans-serif;
	font-size: larger;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

	.status {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		width: fit-content;
		height: fit-content;

		.circle {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-bottom: 10px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		}

		.non-lavorazione {
			background-color: var(--ion-color-rosso);
		}

		.in-lavorazione {
			background-color: var(--ion-color-arancione);
		}

		.in-consegna {
			background-color: var(--ion-color-celeste);
		}

		.consegnato {
			background-color: var(--ion-color-verdechiaro);
		}
	}
}

.bottoni-bottom {
	position: fixed;
	bottom: 9%;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1em;
	z-index: 5;

	ion-button {
		z-index: 100;
	}
}
