<ion-content fullscreen color="light" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <!-- Colonna sinistra: immagine -->
      <ion-col size="12" size-md="6" class="image-col">
        <ion-img src="/assets/illustrations/PagamentoCartaAsporto.png"></ion-img>
      </ion-col>

      <!-- Colonna destra: form -->
      <ion-col size="12" size-md="6" class="form-col">
        <ion-card class="address-card">
          <h1>PAGAMENTO EFFETTUATO</h1>

          <ion-card-content>
            <p>
              Grazie per averci scelto!<br>Il tuo ordine è stato preso in carico dalla filiale di {{filiale.indirizzo}}.<br>Arriverà entro {{tempo}} minuti.
            </p>

  
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
