<ion-content [fullscreen]="true">
	<app-hero
		title="MENU"
		description="Benvenuto {{ nomeUtente }}! Sei seduto al tavolo n.{{ numeroTavolo }} <br> <br> Pronto ad ordinare? Scendi giù!"
		[backgroundURL]="'MenuTavoloBackground.jpg'"
	></app-hero>

	<app-piatto-del-giorno></app-piatto-del-giorno>

	<app-lista-menu [isOrdinazione]="true"></app-lista-menu>

	<div class="bottoni-bottom">
		<ion-button
			(click)="visualizzaOrdini()"
			size="default"
			fill="solid"
			shape="round"
			color="senape"
			expand="block"
			type="submit"
			class="ion-padding-vertical"
			>VISUALIZZA ORDINI</ion-button
		>
		<ion-button
			(click)="checkTotale()"
			size="default"
			fill="solid"
			shape="round"
			color="arancione"
			expand="block"
			type="submit"
			class="ion-padding-vertical"
			>INVIA ORDINE</ion-button
		>
	</div>
</ion-content>
