<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aggiungi Dipendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="page-title">AGGIUNGI DIPENDENTE</div>

    <ion-card class="custom-card">
      <div class="card-content">

        <!-- Box immagine cliccabile -->
        <div class="image-upload" (click)="fileInput.click()" style="text-align: center; cursor: pointer;">
          <input #fileInput type="file" hidden (change)="onImageSelected($event)" class="preview-image"/>
          <ion-icon name="image-outline" size="large"></ion-icon>

          <!-- Anteprima immagine -->
          <div *ngIf="imageBase64" class="image-preview" style="margin-top: 16px;">
            <img [src]="imageBase64" alt="Anteprima immagine" />
          </div>
        </div>

        <!-- Campi form -->
        <div class="form-fields">
          <ion-input placeholder="Inserisci il nome" [(ngModel)]="nome"></ion-input>
          <ion-input placeholder="Inserisci il cognome" [(ngModel)]="cognome"></ion-input>
          <ion-input type="date" [(ngModel)]="dataNascita"></ion-input>
          <ion-input placeholder="Inserisci il ruolo" [(ngModel)]="ruolo"></ion-input>
          <ion-input type="email" placeholder="Inserisci l'email" [(ngModel)]="email"></ion-input>

          <ion-button expand="block" color="success" (click)="aggiungiDipendente()">
            AGGIUNGI DIPENDENTE
          </ion-button>
        </div>

      </div>
    </ion-card>
  </ion-content>
</ion-content>
