ion-avatar {
	width: auto; // Occupiamo tutta la larghezza disponibile
	height: 100%; // Occupiamo tutta l'altezza disponibile
	max-width: 35px !important; // Limitiamo larghezza a 40 px
	max-height: 35px !important; // Limitiamo altezza a 40 px
}
