<!-- L'header fissa il contenuto in cima alla pagina -->
<ion-header [translucent]="true">
	<!-- La toolbar ci permette di mettere gli elementi in riga -->
	<ion-toolbar color="rosso" id="content">
		<!-- Altrimenti mostriamo direttamente i bottoni delle pagine, con relativo link alle rotte -->
		<ion-buttons slot="start">
			<ion-button (click)="navigateBack()">
				<ion-icon name="arrow-back" color="bianco" />
			</ion-button>

			<ion-button [routerLink]="['/']" class="ion-hide-sm-down">
				HOME
			</ion-button>
			<ion-button [routerLink]="['/menu']" class="ion-hide-sm-down">
				MENU
			</ion-button>

			<ion-button [routerLink]="['/ristoranti']" class="ion-hide-sm-down">
				RISTORANTI
			</ion-button>

			<!-- I bottoni per ristoranti ed ordina ora, li mostriamo solo se è un potenziale cliente -->
			@if (role == 'cliente' || role == '') {
				<ion-button
					(click)="svuotaCarrello()"
					[routerLink]="['/ordina-ora']"
					class="ion-hide-sm-down"
				>
					ORDINA ORA
				</ion-button>

				<ion-button
					[routerLink]="['/prenota']"
					class="ion-hide-sm-down"
				>
					PRENOTA
				</ion-button>
			}
		</ion-buttons>

		<!-- Alla fine dell'header, mostriamo i bottoni relativi al ruolo dell'utente -->
		<ion-buttons slot="end">
			@if (role != '' && role != 'cliente') {
				@if (role == 'amministratore') {
					<ion-button [routerLink]="['/amministrazione']">
						AMMINISTRAZIONE
					</ion-button>
				} @else if (role == 'chef') {
					<ion-button [routerLink]="['/visualizza-tavoli-chef']">
						PANNELLO CHEF
					</ion-button>
				} @else if (role == 'cameriere') {
					<ion-button [routerLink]="['/visualizza-tavoli-cameriere']">
						PANNELLO CAMERIERE
					</ion-button>
				}
			}

			<!--
				Mostriamo in fondo all'header l'avatar dell'utente con link a:
				- Pagina del proprio profilo con relativi dati ed operazioni se loggato
			 	- Altrimenti pagina d'accesso/registrazione
			-->

			@if (avatar && avatar !== '') {
				<ion-button
					[routerLink]="['/dati-account']"
					fill="clear"
					shape="round"
					class="avatar-button"
				>
					<ion-avatar slot="start">
						<img [src]="avatar" alt="Il tuo avatar" />
					</ion-avatar>
				</ion-button>
			} @else {
				<ion-button
					[routerLink]="['/gestione-account']"
					fill="clear"
					shape="round"
					class="avatar-button"
				>
					<ion-icon name="person-circle" size="large"></ion-icon>
				</ion-button>
			}

			<!-- Mostriamo l'hamburger solo su schermi piccoli -->
			<ion-menu-button
				menu="main"
				class="ion-hide-sm-up text-color-bianco"
			/>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
