<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed class="ion-align-items-center ion-justify-content-center">
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="6" class="ion-hide-xl-down ion-padding-end">
				<ion-img [src]="'/assets/illustrations/TizioChiave.png'" />
			</ion-col>
			<ion-col size="10" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
					color="verdechiaro"
				>
					<ion-text>
						<h1 class="text-color-bianco">CAMBIA PASSWORD</h1>
					</ion-text>

					@if (error) {
					<p class="errorMsg">{{ errorMsg }}</p>
					}

					<form
						[formGroup]="formCambiaPassword"
						(ngSubmit)="onSubmit()"
						class="form-fields ion-margin-top"
					>
						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formCambiaPassword.get('password')?.touched"
						>
							<ion-input
								type="password"
								label="Password"
								errorText="La password deve essere lunga almeno 6 caratteri e contenere almeno un numero, una lettera maiuscola e un carattere speciale"
								formControlName="password"
								color="arancione"
								placeholder="Inserisci la tua password"
								labelPlacement="floating"
							>
								<ion-input-password-toggle
									*ngIf="formCambiaPassword.get('password')?.value?.length > 0"
									slot="end"
									color="rosso"
								/>
							</ion-input>
						</ion-item>

						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formCambiaPassword.get('confermaPassword')?.touched"
						>
							<ion-input
								type="password"
								label="Conferma Password"
								formControlName="confermaPassword"
								color="arancione"
								placeholder="Conferma la tua password"
								labelPlacement="floating"
								errorText="Le due password non coincidono"
							>
								<ion-input-password-toggle
									*ngIf="formCambiaPassword.get('confermaPassword')?.value?.length > 0"
									slot="end"
									color="rosso"
								/>
							</ion-input>
						</ion-item>

						<ion-button
							size="default"
							fill="solid"
							shape="round"
							color="arancione"
							expand="block"
							type="submit"
							class="ion-padding-horizontal ion-padding-vertical"
							[disabled]="formCambiaPassword.invalid || loading"
						>
							@if (!loading) { CAMBIA PASSWORD } @else {
							<ion-spinner
								name="circular"
								color="bianco"
							></ion-spinner>
							}
						</ion-button>
					</form>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
