<ion-footer [translucent]="true">
	<ion-toolbar color="rosso">
		<div id="content">
			<div id="leftDiv">
				<p>© CISCUSASSI 2025</p>
			</div>
			<div id="centerDiv">
				<a
					href="https://www.linkedin.com/in/leonardo-caiezza-719912364"
					target="_blank"
					>LEONARDO GIOVANNI CAIEZZA</a
				>
				<a
					href="https://www.linkedin.com/in/diegocorona03"
					target="_blank"
					>DIEGO CORONA</a
				>
				<a
					href="https://www.linkedin.com/in/luca-gaetani-10362b364/"
					target="_blank"
					>LUCA GAETANI</a
				>
				<a
					href="https://www.linkedin.com/in/susinodaniele/"
					target="_blank"
					>DANIELE ORAZIO SUSINO</a
				>
			</div>
		</div>
	</ion-toolbar>
</ion-footer>
