a,
p {
	font-size: clamp(0.75rem, 1vw, 0.8rem);
	height: 100%;
	display: block;
}

a:hover {
	filter: brightness(80%);
}

a:active {
	filter: brightness(60%);
}

@media (max-width: 576px) {
	a,
	p {
		font-size: clamp(0.35rem, 1vw, 0.8rem);
	}
}
