#content {
	display: flex;
	flex-direction: row;
	height: fit-content;
	align-items: center;
	font-size: 0.8rem;
}

a,
p {
	color: var(--ion-color-bianco);
	text-decoration: none;
}

a:hover {
	filter: brightness(80%);
}

a:active {
	filter: brightness(60%);
}

#leftDiv {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	width: fit-content;
	position: absolute;
	left: 0;
	margin-left: 2rem;
}

#centerDiv {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1.5rem;
	justify-items: center;
	align-items: center;
	text-align: center;
}
