<!-- Il footer fissa il contenuto in fondo alla pagina -->
<ion-footer [translucent]="true">
	<!-- La toolbar ci permette di mettere gli elementi in riga -->
	<ion-toolbar color="rosso">
		<ion-text color="bianco" slot="start">
			<p class="ion-margin-start text-color-bianco">© CISCUSASSI 2025</p>
		</ion-text>
		<!-- Bottoni per riportare alle pagine linkedin personali dei creatori del sito -->
		<ion-buttons slot="end">
			<ion-text class="ion-text-center">
				<a
					href="https://www.linkedin.com/in/leonardo-giovanni-caiezza/"
					target="_blank"
					class="ion-margin-end text-color-bianco"
				>
					LEONARDO GIOVANNI CAIEZZA
				</a>
			</ion-text>
			<ion-text class="ion-text-center">
				<a
					href="https://www.linkedin.com/in/diegocorona03"
					target="_blank"
					class="ion-margin-end text-color-bianco"
				>
					DIEGO CORONA
				</a>
			</ion-text>
			<ion-text class="ion-text-center">
				<a
					href="https://www.linkedin.com/in/luca-gaetani-10362b364/"
					target="_blank"
					class="ion-margin-end text-color-bianco"
				>
					LUCA GAETANI
				</a>
			</ion-text>
			<ion-text class="ion-text-center">
				<a
					href="https://www.linkedin.com/in/susinodaniele/"
					target="_blank"
					class="ion-margin-end text-color-bianco"
				>
					DANIELE ORAZIO SUSINO
				</a>
			</ion-text>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
