<ion-footer [translucent]="true">
	<ion-toolbar color="rosso">
		<ion-text color="bianco" slot="start">
			<p class="ion-margin-start text-color-bianco">© CISCUSASSI 2025</p>
		</ion-text>
		<ion-buttons slot="end">
			<a
				href="https://www.linkedin.com/in/leonardo-giovanni-caiezza/"
				target="_blank"
				class="ion-margin-end text-color-bianco"
			>
				LEONARDO GIOVANNI CAIEZZA
			</a>
			<a
				href="https://www.linkedin.com/in/diegocorona03"
				target="_blank"
				class="ion-margin-end text-color-bianco"
			>
				DIEGO CORONA
			</a>
			<a
				href="https://www.linkedin.com/in/luca-gaetani-10362b364/"
				target="_blank"
				class="ion-margin-end text-color-bianco"
			>
				LUCA GAETANI
			</a>
			<a
				href="https://www.linkedin.com/in/susinodaniele/"
				target="_blank"
				class="ion-margin-end text-color-bianco"
			>
				DANIELE ORAZIO SUSINO
			</a>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
