<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<ion-content [fullscreen]="true">

  <app-hero title="PRENOTA" description="Prenota il tuo tavolo e regalati 
un esperienza culinaria senza tempo!" [backgroundURL]="'PrenotazioneBackground.jpeg'"></app-hero>

  <div class="map-div">
		<h1> PRENOTA UN TAVOLO </h1>
		<p> Trova il ristorante più adatto a te! </p>

		<div class="content">

			<div id = "filiali">
				@if(loading) {
					<ion-spinner name="bubbles"></ion-spinner>
				}
				@else {
					@for(f of filiali; track f.id_filiale) {
						<ion-card>
						<div class="filiale-row">
							<img [src]="f.immagine" alt="Immagine della Filiale" class="immagine-filiale">
							<div class="testo-filiale">
							<p>{{ f.indirizzo }}</p>
							<p>{{ f.comune }}</p>
							<p>12:00 - 15:00</p>
							<p>19:00 - 22:00</p>
							</div>
						</div>
						</ion-card>
					}
				}
			</div>

			<ion-card class="map-card"> 
				<ion-card-content>
					<app-leaflet-map></app-leaflet-map>
				</ion-card-content>
			</ion-card>
		</div>


	</div>

</ion-content>
