<div id="content" color="verdescuro">
	@if (loading) {
		<ion-spinner name="circle"></ion-spinner>
	} @else {
		<!--
			I menu divider sono i bottoni delle categorie
		-->

		<app-menu-divider
			(ApriMenuEmit)="AperturaLista('antipasti')"
			title="ANTIPASTI"
			[backgroundURL]="'Antipasti.jpg'"
		></app-menu-divider>

		<!--
			Se la categoria selezionata è corrispondente al menu aperto
			allora popoliamo con i prodotti
		-->

		@if (menuAperto === 'antipasti') {
			<div>
				@for (a of antipasti; track a.id_prodotto) {
					<app-prodotto-menu
						[isOrdinazione]="isOrdinazione"
						[prodotto]="a"
					></app-prodotto-menu>
				}
			</div>
		}

		<app-menu-divider
			(ApriMenuEmit)="AperturaLista('primi')"
			title="PRIMI"
			[backgroundURL]="'Primi.jpg'"
		></app-menu-divider>
		@if (menuAperto === 'primi') {
			<div>
				@for (p of primi; track p.id_prodotto) {
					@if (p.is_piatto_giorno) {
						<app-prodotto-menu
							[isOrdinazione]="isOrdinazione"
							[isPiattoGiorno]="true"
							[prodotto]="p"
						></app-prodotto-menu>
					}
				}
				@for (p of primi; track p.id_prodotto) {
					@if (!p.is_piatto_giorno) {
						<app-prodotto-menu
							[isOrdinazione]="isOrdinazione"
							[prodotto]="p"
						></app-prodotto-menu>
					}
				}
			</div>
		}

		<app-menu-divider
			(ApriMenuEmit)="AperturaLista('dolci')"
			title="DOLCI"
			[backgroundURL]="'Dolci.jpg'"
		></app-menu-divider>
		@if (menuAperto === 'dolci') {
			<div>
				@for (d of dolci; track d.id_prodotto) {
					<app-prodotto-menu
						[isOrdinazione]="isOrdinazione"
						[prodotto]="d"
					></app-prodotto-menu>
				}
			</div>
		}

		<app-menu-divider
			(ApriMenuEmit)="AperturaLista('bevande')"
			title="BEVANDE"
			[backgroundURL]="'Bevande.jpg'"
		></app-menu-divider>
		@if (menuAperto === 'bevande') {
			<div>
				@for (b of bevande; track b.id_prodotto) {
					<app-prodotto-menu
						[isOrdinazione]="isOrdinazione"
						[prodotto]="b"
					></app-prodotto-menu>
				}
			</div>
		}
	}
</div>
