<ion-content fullscreen color="light" class="ion-padding">
	<ion-grid>
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<!-- Colonna sinistra: form -->
			<ion-col size="12" size-md="6" class="form-col">
				<ion-card class="address-card">
					<h1>PAGAMENTO ALLA CASSA</h1>

					<p>Dovrai pagare</p>
					<h1>{{totale}}€</h1>
					<p>Numero Tavolo</p>
					<h1>{{numeroTavolo}}</h1>

					<ion-spinner
						*ngIf="isLoading"
						name="crescent"
						style="display: block; margin: 2rem auto"
					></ion-spinner>

					<ion-img
						class="codiceBarre"
						[src]="'https://bwipjs-api.metafloor.com/?bcid=code128&text=' + codice"
						(ionImgDidLoad)="isLoading = false"
						[style.visibility]="isLoading ? 'hidden' : 'visible'"
					></ion-img>
				</ion-card>
			</ion-col>
			<!-- Colonna destra: immagine -->
			<ion-col size="12" size-md="6" class="image-col">
				<ion-img
					class="illustrazione"
					src="/assets/illustrations/PagamentoCarta.png"
				></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
