<!--
	Questa pagina serve per mostrare all'utente che deve effettuare il pagamento alla cassa
	mostrando il codice a barre da fare scansionare al cameriere nella cassa (non prevista nell'app)
-->
<ion-content [fullscreen]="true" color="bianco">
	<div class="page-wrapper">
		<ion-grid
			fixed
			class="ion-align-items-center ion-justify-content-center"
		>
			<ion-row class="ion-align-items-center ion-justify-content-center">
				<!-- Colonna sinistra: form -->
				<ion-col size="12" size-md="6" class="form-col">
					<ion-card
						class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
						color="verdechiaro"
					>
						<ion-text
							class="ion-text-center ion-padding-horizontal"
						>
							<h3 class="text-color-bianco">
								PAGAMENTO ALLA CASSA
							</h3>
						</ion-text>

						<ion-text
							class="ion-text-center ion-padding-horizontal"
						>
							<h5 class="text-color-bianco">
								Grazie per averci scelto!
							</h5>
						</ion-text>

						<ion-text
							class="ion-text-center ion-padding-horizontal"
						>
							<h3 class="text-color-bianco">
								Dovrai pagare: {{totale}}€
							</h3>
						</ion-text>

						@if(isLoading){
						<ion-spinner
							name="crescent"
							color="light"
							style="display: block; margin: 2rem auto"
						></ion-spinner>
						}

						<!-- Facciamo una chiamata alle api bwipjs per convertire il nostro testo in un barcode-->
						<ion-img
							class="codice-barre bg-color-bianco ion-padding"
							[src]="'https://bwipjs-api.metafloor.com/?bcid=code128&text=' + codice"
							(ionImgDidLoad)="isLoading = false"
							[style.visibility]="isLoading ? 'hidden' : 'visible'"
						/>
					</ion-card>
				</ion-col>
				<!-- Colonna destra: immagine -->
				<ion-col size-md="6" class="ion-hide-xl-down ion-padding-start">
					<ion-img
						class="illustrazione"
						src="/assets/illustrations/PagamentoCarta.png"
					/>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
