<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed class="ion-align-items-center ion-justify-content-center">
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="6" class="ion-hide-xl-down ion-padding-end">
				<ion-img
					[src]="'/assets/illustrations/TizioChiave.png'"
				></ion-img>
			</ion-col>

			<ion-col size="12" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
					color="verdechiaro"
				>
					<ion-text>
						<h1 class="text-color-bianco">RECUPERA PASSWORD</h1>
					</ion-text>

					@if (error) {
					<p class="errorMsg">{{ errorMsg }}</p>
					}

					<form
						[formGroup]="formRecuperaPassword"
						(ngSubmit)="onSubmit()"
					>
						<ion-item class="campoForm ion-padding-horizontal">
							<ion-input
								formControlName="email"
								errorText="Il formato dell'email non è valido"
								type="email"
								label="Email"
								color="rosso"
								placeholder="Inserisci l'email associata al tuo account"
							></ion-input>
						</ion-item>

						<ion-button
							size="default"
							fill="solid"
							shape="round"
							color="arancione"
							expand="block"
							type="submit"
							class="ion-padding-horizontal"
							[disabled]="formRecuperaPassword.invalid || loading"
						>
							@if (!loading) { RECUPERA PASSWORD } @else {
							<ion-spinner
								name="circular"
								color="bianco"
							></ion-spinner>
							}
						</ion-button>
					</form>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
