<ion-content [fullscreen]="true" color="light">
	<ion-grid
		fixed
		class="ion-align-items-center ion-justify-content-center master-ion-grid"
	>
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<!-- Immagine a sinistra solo su XL+ -->
			<ion-col size="6" class="ion-hide-xl-down ion-padding-end">
				<ion-img
					[src]="'/assets/illustrations/TizioChiave.png'"
				></ion-img>
			</ion-col>

			<!-- Contenuto -->
			<ion-col size="12" sizeXl="6">
				<ion-card
					class="ion-padding ion-text-center ion-align-items-center ion-justify-content-center bg-color-verdechiaro card-container"
				>
					<ion-text class="ion-text-center">
						<h1 class="titolo text-color-bianco">DATI ACCOUNT</h1>
					</ion-text>

					@if (error) {
					<p class="text-color-rosso">{{ errorMsg }}</p>
					}

					<ion-card class="card-profilo bg-color-bianco">
						<ion-card-content class="card-flex">
							<div>
								<ion-avatar class="avatar-centro">
									<img [src]="avatar" alt="Avatar" />
								</ion-avatar>
							</div>
							<div class="info-div">
								<ion-text class="ion-text-center">
									<h2 class="text-color-nero">
										{{ username }}
									</h2>
								</ion-text>

								@if (role == 'cliente') { @if (loading) {
								<ion-spinner
									name="circular"
									color="bianco"
								></ion-spinner>
								} @else {
								<ion-text class="ion-text-center">
									<h2 class="text-color-arancione">
										{{ points }} PT
									</h2>
								</ion-text>

								} }
							</div>
						</ion-card-content>
					</ion-card>

					<!-- Bottoni -->
					<ion-grid
						class="ion-padding-top ion-justify-content-center"
					>
						<ion-row class="ion-justify-content-center" responsive>
							<ion-col
								size="6"
								sizeMd="12"
								class="ion-justify-content-center ion-align-items-center"
							>
								<ion-button
									color="arancione"
									shape="round"
									[routerLink]="['/cambia-password']"
								>
									CAMBIA PASSWORD
								</ion-button>
							</ion-col>

							<ion-col size="6" sizeMd="12">
								<ion-button
									color="arancione"
									shape="round"
									[routerLink]="['/cambia-email']"
								>
									CAMBIA EMAIL
								</ion-button>
							</ion-col>

							<ion-col size="6" sizeMd="12">
								<ion-button
									color="rosso"
									shape="round"
									(click)="logout()"
								>
									@if (loadingLogout) {
									<ion-spinner name="bubbles"></ion-spinner>
									} @else { LOGOUT }
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
