.master-ion-grid {
	height: 100vh;
	display: flex;
	width: 100vw;

	.card-container {
		display: flex;
		flex-direction: column;
		align-items: center; // ⬅️ centro orizzontale
		justify-content: center; // ⬅️ centro verticale
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center; // utile se vuoi centrare anche il testo

		.card-flex {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 4rem;

			.info-div {
				display: flex;
				justify-content: center;
				flex-direction: column;
				gap: 0.5em;
			}
		}
	}
}

ion-button {
	width: 100%; // default per mobile
	margin: 0 auto; // Centra il bottone
}

@media screen and (min-width: 768px) {
	ion-button {
		width: 55%; // da md in su
	}
}
