<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed>
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="6">
				<ion-img
					[src]="'/assets/illustrations/TizioChiave.png'"
				></ion-img>
			</ion-col>
			<ion-col size="6" class="account-card">
				<ion-card class="card-container">
					<h1 class="titolo">DATI ACCOUNT</h1>

					@if (error) {
					<p>{{ errorMsg }}</p>
					}

					<ion-card class="card-profilo">
						<ion-card-content class="card-flex">
							<div>
								<ion-avatar class="avatar-centro">
									<img [src]="avatar" alt="Avatar" />
								</ion-avatar>
							</div>
							<div>
								<h2 class="username">{{ username }}</h2>

								@if (role == 'cliente') { @if (loading) {
								<ion-spinner name="bubbles"></ion-spinner>
								} @else {
								<p class="punti">{{ points }} PT</p>
								} }
							</div>
						</ion-card-content>
					</ion-card>

					<!-- Bottoni -->
					<ion-button
						expand="block"
						color="arancione"
						[routerLink]="['/cambia-password']"
					>
						CAMBIA PASSWORD
					</ion-button>
					<ion-button
						expand="block"
						color="arancione"
						[routerLink]="['/cambia-email']"
					>
						CAMBIA EMAIL
					</ion-button>
					<ion-button
						expand="block"
						color="rosso"
						(click)="deleteAccount()"
					>
						ELIMINA ACCOUNT
					</ion-button>
					<ion-button expand="block" color="rosso" (click)="logout()">
						@if (loadingLogout) {
						<ion-spinner name="bubbles"></ion-spinner>
						} @else { LOGOUT }
					</ion-button>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
