<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MODIFICA DATI DIPENDENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="page-title">MODIFICA DATI DIPENDENTE</div>
  <ion-card class="custom-card">
    <div class="card-content">

      <!-- Box immagine cliccabile -->
      <div class="image-upload" (click)="fileInput.click()" style="text-align:center; cursor:pointer;">
        <input
          #fileInput
          type="file"
          hidden
          (change)="onFileSelected($event)"
          class="preview-image"
        />
        <ion-icon name="image-outline" size="large"></ion-icon>

        <div *ngIf="foto" class="image-preview" style="margin-top:16px;">
          <img [src]="foto" alt="Anteprima immagine" />
        </div>
      </div>

      <!-- Campi form -->
      <div class="form-fields">
        <ion-input placeholder="Modifica il nome" [(ngModel)]="nome"></ion-input>
        <ion-input placeholder="Modifica il cognome" [(ngModel)]="cognome"></ion-input>
        <ion-input type="date" placeholder="Modifica la data di nascita" [(ngModel)]="dataNascita"></ion-input>

        <ion-select placeholder="Modifica il ruolo" [(ngModel)]="ruolo">
          <ion-select-option value="Amministratore">Amministratore</ion-select-option>
          <ion-select-option value="Chef">Chef</ion-select-option>
          <ion-select-option value="Cameriere">Cameriere</ion-select-option>
        </ion-select>

        <ion-select placeholder="Modifica la filiale" [(ngModel)]="ref_filiale">
          <ion-select-option *ngFor="let filiale of filiali" [value]="filiale.id_filiale">
            {{ filiale.comune }} - {{ filiale.indirizzo }}
          </ion-select-option>
        </ion-select>

        <ion-button expand="block" color="success" (click)="salvaModifiche()">
          CONFERMA MODIFICA DIPENDENTE
        </ion-button>
      </div>

    </div>
  </ion-card>
</ion-content>
