<html lang='it'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Email Ciscusassi</title>
	</head>
	<body
		style="margin: 0; padding: 0; font-family: 'Helvetica', sans-serif; background-color: #ffffff; color: #667085;"
	>
		<table
			width='100%'
			cellpadding='0'
			cellspacing='0'
			border='0'
			style='text-align: center;'
		>
			<tr>
				<td style='padding: 30px 0;'>
					<img
						src='{{logo}}'
						alt='Logo Ciscusassi'
						style='height: 100px;'
					/>

				</td>
			</tr>
			<tr>
				<td>
					<h1
						style='font-size: 24px; color: #667085; margin: 10px 0;'
					>{{titolo}}</h1>
				</td>
			</tr>
			<tr>
				<td>
					<table
						align='center'
						cellpadding='20'
						cellspacing='0'
						border='0'
						style='background-color: #3E885B; color: white; max-width: 600px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.2);'
					>
						<tr>
							<td
								style='text-align: left; font-size: 16px; line-height: 1.5;'
							>
								{{{contenuto}}}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style='padding: 30px 0;'>
					<p style='font-size: 16px; margin: 0;'>
						<strong>
							<span style='color: #A83736; margin: 0;'>CI</span>
							SCUSASSI
						</strong>
					</p>
					<p
						style='font-style: italic; color: #667085; font-size: 14px; margin-top: 5px;'
					>
						Se ti facciamo venire l’acquolina in bocca,<br />
						ma i nostri piatti sono deliziosi!
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>