.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	height: 75%;
}

.map-div {
	height: 100vh;
	width: auto;
	background-color: #c29637;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
}

ion-grid {
	padding-top: 3%;
}

.map-card {
	height: 60vh; // o 50vh, o 100% se necessario
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 2.5%;
	background-color: white;
}

img {
	width: 40%;
}

ion-card-content {
	height: 100%;
	padding: 0;
}

ion-text {
	width: 100%;
}

@media (max-width: 1200px) {
	.map-card {
		height: 60vh; // o 50vh, o 100% se necessario
		width: 100%;
	}
}
