<div id="background"></div>

<div id="smoke"></div>

<div id="content" backgr>
	@if (loading) {
		<ion-spinner name="circular" color="bianco"></ion-spinner>
	} @else {
		@if (!error && piatto != undefined) {
			<ion-text class="ion-text-center">
				<h2 class="text-color-bianco">PIATTO DEL GIORNO</h2>
			</ion-text>

			<div id="plate">
				<img
					[src]="piatto!.immagine"
					alt="Immagine del piatto"
					class="immagine-rotante"
				/>
				<div id="plateInfo">
					<ion-text class="ion-text-center ion-text-md-left">
						<h4 class="text-color-bianco">
							<b> {{ piatto!.nome }} - {{ piatto!.costo }} </b> €
						</h4>
					</ion-text>

					<ion-text class="ion-text-center ion-text-md-left">
						<h5 class="text-color-bianco">
							{{ piatto!.descrizione }}
						</h5>
					</ion-text>

					<ion-text class="ion-text-center ion-text-md-left">
						<p class="text-color-bianco">
							* Acquistando il piatto del giorno hai diritto a 10
							pt fedeltà bonus.
						</p>
					</ion-text>
				</div>
			</div>
		} @else if(!error) {
			<h1 class="text-color-bianco">PIATTO DEL GIORNO</h1>
			<h3 class="text-color-bianco">
				Ancora non è stato impostato nessun piatto del giorno.
				Controlla più tardi!
			</h3>
		} @else{
			<h1 class="text-color-bianco">ERRORE</h1>
			<h3 class="text-color-bianco">
				C'è stato un errore durante il caricamento. Riprova!
			</h3>
		}
	}
</div>
