<div id="background"></div>

<div id="smoke"></div>

<div id="content" backgr>


	@if (loading)
	{
		<ion-spinner name="bubbles"></ion-spinner>
	}
	@else
	{
		<h1> PIATTO DEL GIORNO </h1>
		<div id="plate">
			<img [src]="piatto.immagine" alt="Immagine del piatto" class="immagine-rotante">
			<div id="plateInfo">
				<h2> {{ piatto.nome }} - {{ piatto.costo }} € </h2>
				<h3> {{ piatto.descrizione }} </h3>
			</div>
		</div>
		<p> * Acquistando il piatto del giorno hai diritto a 10 pt fedeltà bonus. </p>
	}

</div>