.scelte {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
	margin-bottom: 16px;
}

ion-input {
	text-align: center;
	border-radius: 12px;
	--border-radius: 12px;
	overflow: hidden;
	--background: white;
	color: black;
}

ion-button {
	--background: var(--ion-color-verdechiaro);
	border-radius: 12px;
	color: white;
}

ion-grid ion-row {
	height: 100vh;

	ion-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.input-div {
	width: 50%;
	min-width: 300px;
}

.errore{
	margin-top: 150px;
}