<ion-content [fullscreen]="true">

	<div class="map-div">
		@if(loading) {
		<ion-spinner name="bubbles"></ion-spinner>
		} @else {
      <h1>PRENOTA UN TAVOLO</h1>
		  <p>{{filiale?.comune}}, {{filiale?.indirizzo}}</p>
      <p>In quanti sarete?</p>
      <div class="scelte">
          <div
            *ngFor="let n of personePossibili"
            (click)="selezionaPersone(n)"
            [class.selected]="n === personeSelezionate"
            [class.match-input]="inputManuale === n"
            class="cerchio"
          >
            {{ n }}
          </div>
        </div>
      <p>OPPURE</p>
      <div class="popup-footer">
          <input
            type="number"
            placeholder="Inserisci in quanti sarete..."
            [(ngModel)]="inputManuale"
            (input)="onInputChange()"
            min="1"
          />
      </div>
      <ion-button (click)="salvaPersone(this.personeSelezionate ?? -1, this.inputManuale ?? -1)">CONFERMA</ion-button>
    }
  </div>
</ion-content>
