<ion-header [translucent]="true">
  	<ion-toolbar color="primary">
    	<ion-buttons slot="start">
      		<ion-button> HOME </ion-button>
    	</ion-buttons>
		<ion-buttons slot="start">
			<ion-button> MENU </ion-button>
			<ion-button> RISTORANTI </ion-button>
			<ion-button> ORDINA ORA </ion-button>
			<ion-button> PRENOTA </ion-button>
	  	</ion-buttons>
		  <ion-buttons slot="end">
			<ion-button> AMMINISTRAZIONE </ion-button>
			<ion-button> LANGUAGE </ion-button>
			<ion-button> ACCOUNT </ion-button>
	  	</ion-buttons>
  	</ion-toolbar>
</ion-header>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
