ion-grid {
	height: 100vh;
	display: flex;
	width: 100vw;
}

ion-card {
	gap: 2rem;
	display: flex;
	flex-direction: column;
	height: 80vh;
}

ion-avatar {
	cursor: pointer;
}

.errorMsg {
	color: var(--ion-color-rosso);
	font-weight: bolder;
}

.campoForm {
	border-radius: 12px;
	overflow: hidden;
	--background: white;
	--border-radius: 12px;
}
