<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed class="ion-align-items-center ion-justify-content-center">
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="6" class="ion-hide-xl-down ion-padding-end">
				<ion-img
					[src]="'/assets/illustrations/TizioChiave.png'"
				></ion-img>
			</ion-col>

			@if (pagina == 0) {
			<ion-col size="12" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
					color="verdechiaro"
				>
					<ion-text>
						<h1 class="text-color-bianco">REGISTRATI</h1>
					</ion-text>

					@if (error) {
					<p class="errorMsg">{{ errorMsg }}</p>
					}

					<input
						#fileInput
						type="file"
						accept="image/jpg, image/png, image/jpeg, image/webp"
						hidden
						(change)="onFileSelected($event)"
					/>
					<ion-avatar
						style="width: 160px; height: 160px"
						(click)="fileInput.click()"
					>
						<ion-img
							[src]="credenziali.image ? credenziali.image : 'https://ionicframework.com/docs/img/demos/avatar.svg'"
							alt="Anteprima immagine"
						/>
					</ion-avatar>
					<form
						[formGroup]="formDatiPersonali"
						(ngSubmit)="continua()"
					>
						<ion-item class="campoForm ion-padding-horizontal">
							<ion-input
								formControlName="nome"
								type="text"
								label="Nome"
								color="rosso"
								placeholder="Inserisci il tuo nome"
							></ion-input>
						</ion-item>

						<ion-item class="campoForm ion-padding-horizontal">
							<ion-input
								formControlName="cognome"
								type="text"
								label="Cognome"
								color="rosso"
								placeholder="Inserisci il tuo cognome"
							></ion-input>
						</ion-item>

						<ion-item class="campoForm ion-padding-horizontal">
							<ion-input
								formControlName="dataNascita"
								type="date"
								label="Data di nascita"
								color="rosso"
								errorText="Data di nascita non valida"
								placeholder="Inserisci la tua data di nascita"
								[max]="dataMaxOggi"
							></ion-input>
						</ion-item>

						<ion-button
							size="default"
							fill="solid"
							shape="round"
							color="arancione"
							expand="block"
							type="submit"
							class="ion-padding-horizontal"
							[disabled]="formDatiPersonali.invalid || loading"
						>
							@if (!loading) { CONTINUA } @else {
							<ion-spinner
								name="circular"
								color="bianco"
							></ion-spinner>
							}
						</ion-button>
					</form>
				</ion-card>
			</ion-col>
			} @else{
			<ion-col size="12" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
					color="verdechiaro"
				>
					<ion-text>
						<h1 class="text-color-bianco">REGISTRATI</h1>
					</ion-text>

					@if (error) {
					<p class="errorMsg">{{ errorMsg }}</p>
					}

					<form
						[formGroup]="formRegistrazione"
						(ngSubmit)="onSubmit()"
					>
						<ion-item class="campoForm ion-padding-horizontal">
							<ion-input
								formControlName="email"
								type="email"
								label="Email"
								errorText="Il formato dell'email non è valido"
								color="rosso"
								placeholder="Inserisci la tua email"
							></ion-input>
						</ion-item>

						<ion-item class="campoForm ion-padding-horizontal">
							<ion-input
								type="password"
								label="Password"
								formControlName="password"
								errorText="La password deve essere lunga almeno 6 caratteri e contenere almeno un numero, una lettera maiuscola e un carattere speciale"
								color="rosso"
								placeholder="Inserisci la tua password"
							>
								<ion-input-password-toggle
									slot="end"
									color="rosso"
								></ion-input-password-toggle>
							</ion-input>
						</ion-item>

						<ion-item class="campoForm ion-padding-horizontal">
							<ion-input
								type="password"
								label="Conferma Password"
								formControlName="confermaPassword"
								errorText="La password deve essere lunga almeno 6 caratteri e contenere almeno un numero, una lettera maiuscola e un carattere speciale"
								color="rosso"
								placeholder="Conferma la tua password"
							>
								<ion-input-password-toggle
									slot="end"
									color="rosso"
								></ion-input-password-toggle>
							</ion-input>
						</ion-item>

						<ion-button
							size="default"
							fill="solid"
							shape="round"
							color="arancione"
							expand="block"
							type="submit"
							class="ion-padding-horizontal"
							[disabled]="formRegistrazione.invalid || loading"
						>
							@if (!loading) { REGISTRATI } @else {
							<ion-spinner name="bubbles"></ion-spinner>
							}
						</ion-button>
					</form>
				</ion-card>
			</ion-col>
			}
		</ion-row>
	</ion-grid>
</ion-content>
