<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed class="ion-align-items-center ion-justify-content-center">
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="6" class="ion-hide-xl-down ion-padding-end">
				<ion-img
					[src]="'/assets/illustrations/TizioChiave.png'"
				></ion-img>
			</ion-col>

			<ion-col size="9" sizeMd="10" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
					color="verdechiaro"
				>
					<ion-text class="title">
						<h1 class="text-color-bianco">REGISTRATI</h1>
					</ion-text>

					<input
						#fileInput
						type="file"
						accept="image/jpg, image/png, image/jpeg, image/webp"
						hidden
						(change)="onFileSelected($event)"
					/>
					<ion-avatar
						style="width: 160px; height: 160px"
						(click)="fileInput.click()"
					>
						<ion-img
							[src]="credenziali.image ? credenziali.image : 'https://ionicframework.com/docs/img/demos/avatar.svg'"
							alt="Anteprima immagine"
						/>
					</ion-avatar>
					@if (error) {
					<p class="errorMsg">{{ errorMsg }}</p>
					}
					<form
						[formGroup]="formRegistrazione"
						(ngSubmit)="onSubmit()"
						class="form-fields ion-margin-top"
					>
						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formRegistrazione.get('nome')?.touched"
						>
							<ion-input
								formControlName="nome"
								type="text"
								label="Nome"
								color="rosso"
								errorText="Il nome è obbligatorio"
								placeholder="Inserisci il tuo nome"
								labelPlacement="floating"
							/>
						</ion-item>

						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formRegistrazione.get('cognome')?.touched"
						>
							<ion-input
								formControlName="cognome"
								type="text"
								label="Cognome"
								color="rosso"
								errorText="Il cognome è obbligatorio"
								placeholder="Inserisci il tuo cognome"
								labelPlacement="floating"
							/>
						</ion-item>

						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formRegistrazione.get('dataNascita')?.touched"
						>
							<ion-input
								formControlName="dataNascita"
								type="date"
								label="Data di nascita"
								color="rosso"
								[errorText]="dataNascitaErrorText"
								placeholder="Inserisci la tua data di nascita"
								[max]="dataMaxOggi"
								labelPlacement="floating"
							/>
						</ion-item>

						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formRegistrazione.get('email')?.touched"
						>
							<ion-input
								formControlName="email"
								type="email"
								label="Email"
								errorText="Il formato dell'email non è valido"
								color="rosso"
								placeholder="Inserisci la tua email"
								labelPlacement="floating"
							/>
						</ion-item>

						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formRegistrazione.get('password')?.touched"
						>
							<ion-input
								type="password"
								label="Password"
								formControlName="password"
								errorText="La password deve essere lunga almeno 6 caratteri e contenere almeno un numero, una lettera maiuscola e un carattere speciale"
								color="rosso"
								placeholder="Inserisci la tua password"
								labelPlacement="floating"
							>
								<ion-input-password-toggle
									*ngIf="formRegistrazione.get('password')?.value?.length > 0"
									slot="end"
									color="rosso"
								/>
							</ion-input>
						</ion-item>

						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formRegistrazione.get('confermaPassword')?.touched"
						>
							<ion-input
								type="password"
								label="Conferma Password"
								formControlName="confermaPassword"
								color="rosso"
								placeholder="Conferma la tua password"
								errorText="Le due password non coincidono"
								labelPlacement="floating"
							>
								<ion-input-password-toggle
									*ngIf="formRegistrazione.get('confermaPassword')?.value?.length > 0"
									slot="end"
									color="rosso"
								/>
							</ion-input>
						</ion-item>

						<ion-button
							size="default"
							fill="solid"
							shape="round"
							color="arancione"
							expand="block"
							type="submit"
							class="ion-padding-vertical ion-padding-horizontal"
							[disabled]="formRegistrazione.invalid || loading"
						>
							@if (!loading) { REGISTRATI } @else {
							<ion-spinner name="circular" color="bianco" />
							}
						</ion-button>
					</form>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
