<ion-content
	[fullscreen]="true"
	class="ion-justify-content-center ion-align-items-center"
	color="verdechiaro"
>
	<div class="page-wrapper">
		@if(!error){
		<div class="first-div">
			<ion-text class="ion-text-center">
				<h2 class="text-color-bianco">VISUALIZZA COMANDE</h2>
			</ion-text>
			<ion-text class="ion-text-center">
				<h4 class="text-color-bianco">
					TAVOLO {{ this.tavolo?.numero }}
				</h4>
			</ion-text>

			<ion-button
				(click)="iniziaLavorazioneTotale()"
				color="arancione"
				size="default"
				fill="solid"
				shape="round"
				expand="block"
				type="submit"
				[disabled]="isLoading"
			>
				INIZIA LAVORAZIONE TOTALE
			</ion-button>
			<ion-button
				(click)="fineLavorazioneTotale()"
				color="rosso"
				size="default"
				fill="solid"
				shape="round"
				expand="block"
				type="submit"
				[disabled]="isLoading"
			>
				FINE LAVORAZIONE TOTALE
			</ion-button>
		</div>

		@if(isLoading){
		<!-- Spinner di caricamento -->
		<ion-spinner color="bianco" name="crescent" />
		}@else {
		<!-- Lista ordini visibile solo se NON sto caricando -->
		<app-lista-ordini [prodotti$]="prodotti$"></app-lista-ordini>
		}}
		@else{
			<ion-text class="ion-text-center">
			<h1 style="color: var(--ion-color-bianco)">
				Errore: per favore riprova più tardi!
			</h1>
		</ion-text>
		}
	</div>
</ion-content>
