ion-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	min-height: 100vh;
}

.page-wrapper {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.input-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

ion-searchbar {
	border-radius: 12px;
	overflow: hidden;
	--background: var(--ion-color-bianconeve);
	--color: black;
	color: black;
	--border-radius: 12px;
	width: 30%;
	min-width: 300px;
	display: flex;
	justify-content: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 16px;
	padding: 50px;
	justify-items: start;
	width: 100%;
}

.button-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.circle-button {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		padding: 0 !important;
		--border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40px;
	}
}

@media (max-width: 1024px) {
	.grid-container {
		padding: 10px !important;
		margin: 0 !important;
	}
}
