<ion-content
	[fullscreen]="true"
	class="ion-justify-content-center ion-align-items-center"
	color="bianco"
>
	<div class="page-wrapper">
		<ion-text class="ion-text-center ion-padding">
			<h2>Gestisci Piatti</h2>
		</ion-text>

		<!-- Div dei filtri -->
		<div
			class="ion-justify-content-center ion-align-items-center ion-text-center ion-padding"
		>
			<ion-chip
				color="rosso"
				[outline]="selectedCategoria !== 'Antipasto'"
				(click)="filterByCategory('Antipasto')"
				>Antipasti</ion-chip
			>
			<ion-chip
				color="arancione"
				[outline]="selectedCategoria !== 'Primo'"
				(click)="filterByCategory('Primo')"
				>Primi</ion-chip
			>
			<ion-chip
				color="salmone"
				[outline]="selectedCategoria !== 'Bevanda'"
				(click)="filterByCategory('Bevanda')"
				>Bevande</ion-chip
			>
			<ion-chip
				color="senape"
				[outline]="selectedCategoria !== 'Dolce'"
				(click)="filterByCategory('Dolce')"
				>Dolci</ion-chip
			>
			<ion-chip
				color="verdechiaro"
				[outline]="selectedCategoria !== 'PiattoDelGiorno'"
				(click)="filterByCategory('PiattoDelGiorno')"
				>Piatto del giorno</ion-chip
			>
			<ion-chip
				color="celeste"
				[outline]="selectedCategoria !== 'Tutti'"
				(click)="filterByCategory('Tutti')"
				>Tutti</ion-chip
			>
		</div>

		<!-- Div della barra di ricerca -->

		<div class="input-div ion-padding ion-margin">
			<ion-searchbar
				placeholder="Cerca un piatto..."
				inputmode="text"
				type="text"
				(ionInput)="applyFilters()"
				[(ngModel)]="searchTerm"
				[debounce]="250"
				animated="true"
				show-clear-button="focus"
				class="ion-padding-horizontal"
			></ion-searchbar>
		</div>

		<!-- Div dei piatti -->

		@if (loading){
		<div class="ion-text-center ion-padding ion-margin">
			<ion-spinner name="circular" color="rosso"></ion-spinner>
		</div>
		} @else{ @if(error){
		<ion-text class="ion-text-center">
			<h2 class="text-color-rosso">
				ERRORE: Per piacere riprova tra poco!
			</h2>
		</ion-text>
		} @else {
		<div class="grid-container ion-margin">
			<div class="button-wrapper">
				<ion-button
					[routerLink]="['/aggiungi-piatti']"
					class="circle-button text-color-bianco"
					color="verdechiaro"
					>+<ion-icon name="add"></ion-icon
				></ion-button>
			</div>

			@for (prodotto of filteredPiatti; track prodotto.id_prodotto) {
			<app-piatto-amministratore
				[prodotto]="prodotto"
				(changePiattoDelGiornoEmitter)="changePiattoDelGiorno($event)"
				(showAlertDeletePiattoEmitter)="showAlertDeletePiatto($event)"
				[idPiattoDelGiorno]="piattoDelGiorno!.id_prodotto"
			></app-piatto-amministratore>

			}
		</div>
		} }
	</div>
</ion-content>
