<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Titolo della Pagina
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
 <div class="page-title">Gestisci piatti</div>

  <div class="grid-container">
   <div class="center-container">
  <ion-button [routerLink]="['/aggiungi-piatti']" class="circle-button">+<ion-icon name="add" ></ion-icon>
  </ion-button>
  </div>
    @for (p of piatti; track p.id_prodotto ){
      <ion-card>
        <ion-icon name="star-outline" class="star-icon" ></ion-icon > <!-- Stellina -->
        <ion-img [src]="p.immagine" alt="Immagine del piatto" class="immagine-rotante"></ion-img>

        <ion-card-header>
          
          <ion-card-title>{{ p.nome }} - {{ p.costo }} €</ion-card-title>
      
          Categoria: {{ p.categoria }}<br>
          Id prodotto: {{p.id_prodotto}}<br>
        </ion-card-header>

        <ion-card-content>
          <p>{{ p.descrizione }}</p>
          <div class="button-vertical">
            <ion-button expand="block" [routerLink]="['/modifica-piatti']" color="secondary">Modifica piatto</ion-button>
            <ion-button expand="block" color="primary">Cancella piatto</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    }
  </div>
</ion-content>


