/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@import './theme/variables.scss';

@font-face {
	font-family: 'JacquesFrancoisShadow';
	src: url('/assets/fonts/JacquesFrancoisShadow-Regular.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Caveat';
	src: url('assets/fonts/Caveat.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LucidaCalligraphy';
	src: url('/assets/fonts/LucidaUnicodeCalligraphy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Isocpeur-Regular';
	src: url('/assets/fonts/Isocpeur-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Rimuove eventuali bordi da ion-item e imposta sfondo trasparente */
.campoForm {
	--background: var(--ion-color-bianco) !important;
	--padding-start: 25 !important;
	--padding-end: 25 !important;
	--inner-border-width: 0 !important;
	color: black;
	border-radius: 20px;
	margin-bottom: 25px;
}

.campoForm > ion-input {
	margin-left: 25px;
}

/* TITOLI: JacquesFrancoisShadow */
h1 {
	font-family: 'JacquesFrancoisShadow', sans-serif;
	font-size: clamp(2.5rem, 5vw, 3rem);
	color: var(--ion-color-primary-contrast);
}

h2 {
	font-family: 'LucidaCalligraphy', sans-serif;
	font-size: clamp(1.4rem, 2.8vw, 2rem);
	color: var(--ion-color-primary-contrast);
}

h3 {
	font-family: 'LucidaCalligraphy', sans-serif;
	font-size: clamp(1.2rem, 2.3vw, 1.7rem);
	color: var(--ion-color-primary-contrast);
}

h4 {
	font-family: 'Caveat', sans-serif;
	font-size: clamp(1.1rem, 2vw, 1.5rem);
	color: var(--ion-color-primary-contrast);
}

h5 {
	font-family: 'Caveat', sans-serif;
	font-size: clamp(1rem, 1.8vw, 1.3rem);
	color: var(--ion-color-primary-contrast);
}

h6 {
	font-family: 'Caveat', sans-serif;
	font-size: clamp(0.9rem, 1.5vw, 1.1rem);
	color: var(--ion-color-primary-contrast);
}

/* TESTO: LucidaCalligraphy */
p,
a,
ion-label,
ion-text {
	font-family: 'Caveat', sans-serif;
	font-size: clamp(0.6rem, 1vw, 1rem);
	color: var(--ion-color-primary-contrast);
}

a {
	text-decoration: none;
}

ion-button {
	font-family: 'Caveat', sans-serif;
	font-size: clamp(1rem, 1.3vw, 1.2rem);
	color: var(--ion-color-bianco);
	border-radius: 8px;
	--border-radius: 8px;
}

/* -----    ALERT CUSTOMIZZATO    ----- */

ion-alert.custom-alert {
	--background: var(--ion-color-bianco);
	--ion-text-color: var(--ion-color-nero);
	--border-radius: 25px;
	border-radius: 25px;
}

.custom-alert .alert-wrapper {
	border-radius: 12px;
	--border-radius: 12px;
}

.custom-alert .alert-button-group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

button.alert-button.alert-button-cancel,
button.alert-button.alert-button-confirm {
	border-radius: 8px;
	width: 45%;
	text-align: center;
	--text-align: center;
}

button.alert-button.alert-button-cancel:hover,
button.alert-button.alert-button-confirm:hover {
	filter: brightness(80%);
}

.custom-alert .alert-button-inner {
	justify-content: center !important;
}

/* -----     Per la mappa, siccome non lo carica se non messo qui     ----- */

.btn-prenota-filiale {
	background-color: var(--ion-color-verdechiaro);
	color: var(--ion-color-bianco);
	font-family: 'Isocpeur-Regular', sans-serif;
	font-size: clamp(1rem, 1.3vw, 1.2rem);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	text-align: center;
	vertical-align: text-top;
	margin-top: 10px;
}
