ion-card {
	width: 250px;
	height: 100%; // In modo tale da uniformare la lunghezza in tutte le card
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombra leggera
	transition:
		background-color 0.2s ease-in-out,
		transform 0.2s ease-in-out;
	position: relative; // Dobbiamo impostare la posizione relative per poi poter usare la absolute nei bottoni

	padding-bottom: 250px; // In modo tale  da fare entrare i bottoni

	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	.ion-card-title {
		font-weight: bold;
	}

	ion-card-content {
		p {
			color: #6c757d;
			font-size: 1.1rem;
			line-height: 1.4; // Spaziatura verticale tra righe del testo
		}
	}

	.button-div {
		position: absolute; // Siccome devono essere quanto più in basso possibile, dobbiamo usare absolute
		bottom: 0; // Mettiamo i bottoni al di sotto di tutto il resto
		width: 100%; // Assicura che i bottoni occupino tutta la larghezza della card
	}

	&:hover {
		transform: translateY(
			-6px
		); // Alziamo leggermente la card quando passiamo sopra con il mouse
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); // Leggera ombra per effetto rilievo
	}
}

ion-img {
	padding: 20px;
	min-width: 200px;
	max-width: 300px;
}

// Usiamo part per accedere all'image dell'ion-img
ion-img::part(image) {
	border-radius: 100%; // Arrotondiamo completamente l'immagine
	object-fit: cover; // Estendiamo l'immagine per coprire interamente lo spazio
	aspect-ratio: 1/1; // Forziamo l'immagine ad essere quadrata
}
