<ion-content
	[fullscreen]="true"
	class="ion-justify-content-center ion-align-items-center"
	color="bianco"
>
	<div class="page-wrapper">
		<ion-text class="ion-text-center ion-padding-top">
			<h2>Visualizza tavoli</h2>
		</ion-text>

		@if(!localeAperto){
		<ion-text class="ion-text-center">
			<h2 class="locale-chiuso text-color-rosso">
				AL MOMENTO CISCUSASSI È CHIUSO
			</h2>
		</ion-text>
		} @else {

		<!-- Legenda -->
		<div class="filter-row ion-padding ion-margin">
			<!-- Filtri -->

			<ion-chip
				[outline]="selectedFilter !== 'tutti'"
				color="medium"
				(click)="filtraTavoliPerStato('tutti')"
			>
				Tutti
			</ion-chip>

			<ion-chip
				[outline]="selectedFilter !== 'non-in-lavorazione'"
				color="rosso"
				(click)="filtraTavoliPerStato('non-in-lavorazione')"
			>
				Non in lavorazione
			</ion-chip>

			<ion-chip
				[outline]="selectedFilter !== 'in-lavorazione'"
				color="arancione"
				(click)="filtraTavoliPerStato('in-lavorazione')"
			>
				In lavorazione
			</ion-chip>
		</div>

		@if(tavoliFiltrati.length === 0){
		<ion-text class="ion-text-center">
			<h4 class="text-color-gray">
				Ancora nessuno ha ordinato qualcosa!
			</h4>
		</ion-text>
		}

		<!-- Tavoli -->
		<ion-grid fixed>
			<ion-row class="ion-justify-content-center">
				@for(tavolo of tavoliFiltrati; track tavolo){
				<ion-col size="6" size-md="4" sizeLg="3">
					<div class="tavolo-wrapper" (click)="handleClick(tavolo)">
						<div class="circle" [ngClass]="tavolo.stato">
							{{ tavolo.numero }}
						</div>

						<ion-text class="ion-text-center">
							<h5>Prenotazione: {{ tavolo.prenotazione }}</h5>
						</ion-text>
						<ion-text class="ion-text-center">
							<h5>{{ tavolo.orario }}</h5>
						</ion-text>
						<ion-text class="ion-text-center">
							<h5>{{ tavolo.persone }} persone</h5>
						</ion-text>
					</div>
				</ion-col>
				}
			</ion-row>
		</ion-grid>
		}
	</div>
</ion-content>
