<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>VISUALIZZA TAVOLI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <h1 class="titolo-pagina">VISUALIZZA TAVOLI</h1>

  <!-- Chips filtro -->
  <div class="filtro-chip-container">
    <ion-chip
      [outline]="selectedFilter !== 'tutti'"
      [color]="selectedFilter === 'tutti' ? 'primary' : 'medium'"
      (click)="filtraPerStato('tutti')"
    >
      <ion-label>Tutti</ion-label>
    </ion-chip>

    <ion-chip
      [outline]="selectedFilter !== 'in-lavorazione'"
      [color]="selectedFilter === 'in-lavorazione' ? 'primary' : 'medium'"
      (click)="filtraPerStato('in-lavorazione')"
    >
      <ion-label>In lavorazione</ion-label>
    </ion-chip>

    <ion-chip
      [outline]="selectedFilter !== 'non-in-lavorazione'"
      [color]="selectedFilter === 'non-in-lavorazione' ? 'primary' : 'medium'"
      (click)="filtraPerStato('non-in-lavorazione')"
    >
      <ion-label>Non in lavorazione</ion-label>
    </ion-chip>
  </div>

  <!-- Legenda -->
  <div class="legend-styled">
    <div class="legend-item" *ngFor="let voce of legenda">
      <div class="dot" [ngClass]="voce.stato"></div>
      <span class="label">{{ voce.label }}</span>
    </div>
  </div>

  <!-- Messaggio se non ci sono prenotazioni -->
  <div *ngIf="tavoliFiltrati.length === 0" class="no-prenotazioni">
    Non ci sono prenotazioni
  </div>

  <!-- Tavoli -->
  <ion-grid *ngIf="tavoliFiltrati.length > 0">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-md="4" *ngFor="let tavolo of tavoliFiltrati">
        <div
          class="tavolo-wrapper"
          [class.clickable]="isCliccabile(tavolo)"
          (click)="handleClick(tavolo)"
        >
          <div class="circle" [ngClass]="tavolo.stato">{{ tavolo.numero }}</div>
          <div class="table-info white-info">
            <div class="nome">{{ tavolo.nome }}</div>
            <div class="orario">{{ tavolo.orario }}</div>
            <div class="persone">{{ tavolo.persone }} persone</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
