<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>VISUALIZZA TAVOLI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <h1 class="titolo-pagina">VISUALIZZA TAVOLI</h1>

  <!-- Legenda -->
  <div class="legend-styled">
    <div class="legend-item" *ngFor="let voce of legenda">
      <div class="dot" [ngClass]="voce.stato"></div>
      <span class="label">{{ voce.label }}</span>
    </div>
  </div>

  <!-- Tavoli -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-md="4" *ngFor="let tavolo of tavoli">
        <div class="tavolo-wrapper"
             [class.clickable]="isCliccabile(tavolo)"
             (click)="handleClick(tavolo)">
          <div class="circle" [ngClass]="tavolo.stato">{{ tavolo.numero }}</div>
          <div *ngIf="tavolo.stato === 'senza-ordini'" class="table-info white-info">
            <div class="nome">{{ tavolo.nome }}</div>
            <div class="orario">{{ tavolo.orario }}</div>
            <div class="persone">{{ tavolo.persone }} persone</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
