<link
	rel="stylesheet"
	href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
	integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
	crossorigin=""
/>

<ion-content [fullscreen]="true">
	<app-hero
		title="PRENOTAZIONE"
		description="Prenota il tuo tavolo e regalati un'esperienza culinaria senza tempo!"
		[backgroundURL]="'PrenotazioneBackground.jpeg'"
	></app-hero>

	<ng-container *ngIf="!loadingPrenotazioni; else loadingSpinner">
		<div class="map-div">
			@if (prenotazioni.length > 0) {
			<h1>PRENOTA UN TAVOLO</h1>
			<p>Hai già una prenotazione!</p>

			@for (prenotazione of prenotazioni; track prenotazione.id_prenotazione) {
			<ion-card class="prenotazione-card">
				<ion-row>
					<ion-col size="9">
						<div>
							<ion-icon></ion-icon>
							<ion-label>
								{{ prenotazione?.indirizzo }} - {{ prenotazione?.comune }}
							</ion-label>
						</div>

						<div>
							<ion-icon></ion-icon>
							<ion-label>
								{{ formattaData(prenotazione?.data_ora_prenotazione ?? '') }}
							</ion-label>
						</div>

						@if (prenotazione?.numero_persone == 1) {
						<div>
							<ion-icon></ion-icon>
							<ion-label>{{ prenotazione?.numero_persone }} posto</ion-label>
						</div>
						} @else {
						<div>
							<ion-icon></ion-icon>
							<ion-label>{{ prenotazione?.numero_persone }} posti</ion-label>
						</div>
						}
					</ion-col>

					<ion-col size="3">
						<ion-button
							color="rosso"
							(click)="confermaCancellazione(prenotazione?.id_prenotazione!)"
						>
							Cancella Prenotazione
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-card>
			}
			} @else {
			<h1>PRENOTA UN TAVOLO</h1>
			<p>Trova il ristorante più adatto a te!</p>

			<ion-grid>
				<ion-row>
					<ion-col size="6" class="filiali-col">
						<ion-item class="barra-ricerca">
							<ion-input
								placeholder="Indirizzo Filiale"
								[(ngModel)]="searchFiliale"
								(ionInput)="filtroFiliali()"
							></ion-input>
						</ion-item>

						<div class="filiali-list">
							@for (f of filialiFiltrate; track f.id_filiale) {
							<ion-button
								class="filiale"
								(click)="salvaFiliale(f.id_filiale)"
							>
								<ion-row>
									<ion-col size="3">
										<img
											[src]="f.immagine"
											alt="Immagine della Filiale"
											class="immagine-filiale"
										/>
									</ion-col>
									<ion-col size="9">
										<ion-label>
											<h2 class="filiale-comune">
												{{ f.comune }}
											</h2>
											<h2 class="filiale-indirizzo">
												{{ f.indirizzo }}
											</h2>
											<p>11:50 - 16:30<br />19:20 - 00:00</p>
										</ion-label>
									</ion-col>
								</ion-row>
							</ion-button>
							}
						</div>
					</ion-col>

					<ion-col size="6">
						<ion-card class="map-card">
							<div class="map-card-content">
								<app-leaflet-map></app-leaflet-map>
							</div>
						</ion-card>
					</ion-col>
				</ion-row>
			</ion-grid>
			}
		</div>
	</ng-container>

	<ng-template #loadingSpinner>
		<div class="loading-wrapper">
			<ion-spinner name="crescent" color="primary"></ion-spinner>
		</div>
	</ng-template>
</ion-content>
