/* Colonna lista filiali */
.filiali-list {
	min-height: 50vh;
	max-height: 50vh;
	overflow-y: auto;
}

.filiali-list::-webkit-scrollbar {
	display: none;
}

ion-grid {
	margin: 0;
}

.map-card {
	height: 55vh;
	border-radius: 12px;
	background-color: var(--ion-color-bianco);
	overflow: hidden;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.map-card-content {
	height: 70vh;
}

/* ----- */

.loading-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.second-div {
	width: 100%;
	height: 100%;
	padding-top: 8vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ion-spinner {
	width: 10%;
	height: 10%;
}

.center-row {
	display: flex;
	justify-content: center;
}

p {
	font-size: clamp(1rem, 1.3vw, 1.2rem);
}

ion-grid {
	height: fit-content;
}

ion-searchbar {
	border-radius: 12px;
	overflow: hidden;
	--background: var(--ion-color-bianco);
	--color: black;
	color: black;
	--border-radius: 12px;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
