<link
	rel="stylesheet"
	href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
	integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
	crossorigin=""
/>

<ion-content [fullscreen]="true">
	<app-hero
		title="PRENOTAZIONE"
		description="Prenota il tuo tavolo e regalati un'esperienza culinaria senza tempo!"
		[backgroundURL]="'PrenotazioneBackground.jpeg'"
	></app-hero>

	<div class="second-div bg-color-senape">
		@if(!loadingPrenotazioni) {

		<!-- Se abbiamo caricato correttamente -->

		<ion-text class="ion-text-center">
			<h1 class="text-color-bianco">PRENOTA UN TAVOLO</h1>
		</ion-text>

		@if (prenotazioni.length > 0) {

		<!-- Abbiamo delle prenotazioni a carico -->

		<ion-text class="ion-text-center">
			<p class="text-color-bianco">Hai già una prenotazione!</p>
		</ion-text>

		<ion-grid>
			@for (prenotazione of prenotazioni; track
			prenotazione.id_prenotazione) {

			<ion-row>
				<ion-col size="12" class="center-row">
					<app-prenotazione-card
						[prenotazione]="prenotazione"
						(confermaCancellazioneEmitter)="confermaCancellazione($event)"
					></app-prenotazione-card>
				</ion-col>
			</ion-row>

			}
		</ion-grid>
		} @else {

		<!-- Non abbiamo delle prenotazioni a carico -->

		<ion-text class="ion-text-center">
			<p class="text-color-bianco">
				Trova il ristorante più adatto a te!
			</p>
		</ion-text>

		<ion-grid fixed>
			<ion-row>
				<ion-col size="12" sizeXl="6" class="filiali-col">
					<ion-searchbar
						placeholder="Via della filiale"
						inputmode="text"
						type="text"
						(ionInput)="onFiltraFilialiChange($event)"
						[debounce]="250"
						animated="true"
						show-clear-button="focus"
					></ion-searchbar>

					<div class="filiali-list">
						@for (filiale of filialiFiltrate; track
						filiale.id_filiale) {
						<app-filiale-card
							[filiale]="filiale"
							(selectFilialeEmitter)="salvaFiliale($event)"
						></app-filiale-card>
						}
					</div>
				</ion-col>

				<ion-col size="6" class="ion-hide-xl-down">
					<ion-card class="map-card">
						<div class="map-card-content">
							<app-leaflet-map
								[redirect]="true"
							></app-leaflet-map>
						</div>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>
		} } @else {
		<div class="loading-wrapper">
			<ion-spinner name="circle" color="light"></ion-spinner>
		</div>
		}
	</div>
</ion-content>
