ion-grid {
	height: 100vh;
	display: flex;
	justify-content: center;
	width: 100vw;
}

ion-card {
	display: flex;
	flex-direction: column;
	height: 80vh;
	gap: 1rem;
}

// Classe del wrapper dei campi del form
.form-fields {
	width: 100%;
	min-width: 400px; // Almeno 500 px di larghezza
	gap: 1.5em; // Spaziamo i componenti

	height: fit-content; // Deve essere grande solo quanto basta
	display: flex; // Mettiamo flex per jestire la giustificazione e l'allineamento
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// Classe del singolo campo
	.campo-form {
		max-width: 600px; // Limitiamo larghezza sia massima
		min-width: 300px; // che minima
		width: 80%; // Prendiamo solo l'80% della grandezza disponibile
		border-radius: 12px; // Arrotondiamo i campi
		--border-radius: 12px;
		overflow: hidden; // non mostriamo l'overflow
		--background: white;
		color: black;
		--color: black;
	}

	// Se il campo è stato selezionato (e quindi c'è l'errore)
	.touched::part(native) {
		padding-bottom: 5px; // Allora mettiamo un po' di padding per fare leggere meglio l'errore
	}

	ion-input,
	ion-textarea,
	ion-select {
		--background: var(--ion-color-bianco);
		--color: black;
		border-radius: 10px;
		width: 100%;
	}

	ion-button {
		width: 80%;
	}
}

ion-item.campo-form::part(native) {
	--inner-padding-end: 0;
}

ion-input-otp {
	width: 100%;
}

ion-input-otp.invalid-otp::part(native) {
	--border-color: var(--ion-color-danger);
	--highlight-color-focused: var(--ion-color-danger);
	box-shadow: 0 0 0 1px var(--ion-color-danger);
}

ion-input-otp.valid-otp::part(native) {
	--border-color: var(--ion-color-success);
	--highlight-color-focused: var(--ion-color-success);
	box-shadow: 0 0 0 1px var(--ion-color-success);
}

@media (max-width: 1200px) {
	ion-input-otp {
		width: 80%;
	}
}
