<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed>
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col size="9" sizeSm="10" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center ion-padding-horizontal ion-padding-top ion-padding-bottom"
					color="verdechiaro"
				>
					<ion-text class="ion-text-center">
						<h2 class="text-color-bianco">
							INFORMAZIONI DEL TAVOLO
						</h2>
					</ion-text>

					<ion-text class="ion-text-center">
						<h5 class="text-color-bianco ion-hide-sm-down">
							Inserisci il numero della torretta mostrato sul
							retro
						</h5>
					</ion-text>

					<form
						[formGroup]="formOTP"
						(ngSubmit)="onSubmit()"
						class="form-fields ion-margin-top"
					>
						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formOTP.get('idTorretta')?.touched"
						>
							<ion-input
								[(ngModel)]="numeroTorretta"
								formControlName="idTorretta"
								type="number"
								label="Numero torretta"
								color="rosso"
								placeholder="Inserisci il numero della torretta"
								errorText="L'ID della torretta è obbligatorio"
								labelPlacement="floating"
								min="1"
								class="transparent-input"
							/>
						</ion-item>

						<ion-text>
							<h5
								class="ion-text-center text-color-bianco ion-hide-sm-down"
							>
								Inserisci l'OTP mostrato sullo schermo della
								torre
							</h5>
						</ion-text>

						<ion-item
							lines="none"
							class="campo-form ion-padding-horizontal"
							[class.touched]="formOTP.get('otp')?.touched"
						>
							<ion-input-otp
								[(ngModel)]="otp"
								formControlName="otp"
								type="text"
								shape="round"
								fill="outline"
								length="6"
								class="ion-padding-horizontal"
								errorText="Il formato dell'OTP non è valido"
								[ngClass]="{
									'invalid-otp': formOTP.get('otp')?.invalid && formOTP.get('otp')?.touched,
									'valid-otp': formOTP.get('otp')?.valid && formOTP.get('otp')?.touched
								}"
							/>
						</ion-item>

						<ion-button
							type="submit"
							[ngClass]="{'errore': otp.trim().length > 0 && otp.trim().length !== 6}"
							[disabled]="!numeroTorretta || numeroTorretta < 1 || otp.trim().length !== 6"
							class="ion-padding-vertical ion-padding-horizontal"
							size="default"
							fill="solid"
							shape="round"
							color="rosso"
						>
							@if(!isLoading) { PROCEDI } @else {
							<ion-spinner name="circular" color="bianco" /> }
						</ion-button>
					</form>
				</ion-card>
			</ion-col>

			<ion-col size="6" class="ion-hide-xl-down ion-padding-start">
				<ion-img src="/assets/illustrations/OTPTavolo.png"></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
