ion-grid {
	height: 100vh;
	display: flex;
	justify-content: center;
	width: 100vw;
}

ion-card {
	display: flex;
	flex-direction: column;
	height: 80vh;
	gap: 1rem;
}

.campoForm {
	border-radius: 12px;
	overflow: hidden;
	--background: white;
	--border-radius: 12px;
}

ion-item.campoForm {
	width: 100%;
	max-width: 500px; // opzionale, per non farlo diventare troppo largo su desktop
	margin: 0 auto;
}

ion-item.campoForm::part(native) {
	margin-right: 0;
	--inner-padding-end: 0;
}

ion-button {
	width: 80%;
}

ion-input-otp {
	width: 100%;
}
