.page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

h1 {
	font-family: 'LucidaCalligraphy', sans-serif;
}

ion-select {
	width: fit-content;
	height: fit-content;
}

/* Bottone scarica Excel */
.excel-button {
	font-style: italic;
	font-weight: 700;
	color: white;
	padding: 8px 18px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

// Classi della tabella d'ora in avanti

/* Contenitore scrollabile della tabella */
.table-wrapper {
	overflow-x: auto; /* scroll solo se serve */
	width: 100%;
	border: none;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* Griglia base come tabella */
.custom-grid {
	display: table;
	min-width: max-content;
	width: fit-content;
	table-layout: auto;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #ddd;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.95em;
}

/* Header della tabella */
.table-header {
	background-color: var(--ion-color-verdechiaro);
	font-weight: 700;
	border-bottom: 2px solid #aac7ff;

	ion-col {
		color: white;
	}
}

/* Righe alternate per leggibilità */
ion-row.even {
	background-color: #ffffff;
}

ion-row.odd {
	background-color: #f7f9fc;
}

/* Riga come table-row */
ion-row {
	display: table-row;
}

ion-row:not(:first-of-type):hover {
	background-color: #ebecef;
}

/* Celle come table-cell */
ion-col {
	display: table-cell;
	padding: 12px 15px;
	font-size: 1em;
	color: #555;
	border-right: 1px solid #eee;
	white-space: nowrap;
	min-width: 120px;
	vertical-align: middle;
}

/* Ultima colonna senza bordo destro */
ion-col:last-child {
	border-right: none;
}
