<ion-content [fullscreen]="true" color="bianco">
	<div class="page-wrapper ion-padding">
		<ion-text color="primary" class="ion-text-center">
			<h1 style="color: black">Visualizza Utili</h1>
		</ion-text>

		<div class="input-container ion-padding-vertical ion-margin-vertical">
			<ion-select
				placeholder="Anno"
				fill="outline"
				label="Anno"
				interface="popover"
				justify="space-between"
				class="ion-padding-horizontal"
				[(ngModel)]="selectedYear"
				(ionChange)="onYearChange()"
			>
				@for(year of years; track year;){
				<ion-select-option [value]="year">
					{{ year }}
				</ion-select-option>
				}
			</ion-select>

			<ion-button
				color="verdechiaro"
				size="default"
				fill="solid"
				shape="round"
				expand="block"
				class="ion-padding-horizontal ion-padding-vertical"
				(click)="exportExcel()"
			>
				SCARICA EXCEL
			</ion-button>
		</div>

		<div class="table-wrapper">
			<ion-grid
				class="custom-grid"
				[ngClass]="{'chrome': isChrome, 'firefox': isFirefox}"
			>
				<!-- Header -->
				<ion-row class="table-header bg-color-verdechiaro">
					<ion-col size="2"> Indirizzo filiale </ion-col>
					<ion-col size="1" *ngFor="let month of months">
						<strong>{{ month }}</strong>
					</ion-col>
					<ion-col size="1"><strong>Totale</strong></ion-col>
				</ion-row>

				<!-- Righe dati -->
				<ion-row
					*ngFor="let row of rows; let i = index"
					[class.even]="i % 2 === 0"
					[class.odd]="i % 2 !== 0"
				>
					<ion-col size="2">{{ row.address }}</ion-col>
					<ion-col size="1" *ngFor="let value of row.values">
						€ {{ value | number: '1.2-2' }}
					</ion-col>
					<ion-col size="1"
						>€ {{ getRowTotal(row) | number: '1.2-2' }}</ion-col
					>
				</ion-row>

				<!-- Totali colonne -->
				<ion-row>
					<ion-col size="2"><strong>TOTALE</strong></ion-col>

					<ion-col
						size="1"
						*ngFor="let month of months; let i = index"
					>
						€ {{ getColumnTotal(i) | number: '1.2-2' }}
					</ion-col>
					<ion-col size="1"
						><strong
							>€ {{ getGrandTotal() | number: '1.2-2' }}</strong
						></ion-col
					>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>
