.sfondo {
  position: relative;
  width: 100vw;
  height: 50vh;
  margin: 0;
  --border-radius: 0;
  overflow: hidden;
  z-index: 0;
}

.immagine {
  position: absolute;
  top: -50%;
  width: 110vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(60%);
  z-index: 0;
}

.sfondo h1 {
  position: relative;
  z-index: 1;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
}
