.sfondo {
	width: 100vw;
	height: 50vh;
	margin: 0; // Lo sfondo deve essere attaccato ai margini dello schermo e degli altri bottoni
	--border-radius: 0; // I bottoni devono essere squadrati
	border-radius: 0; // I bottoni devono essere squadrati
	overflow: hidden;
}

.immagine {
	position: absolute; // Per permetterci di metterla sopra il pulsante
	width: 110vw; // Messo a 110 per evitare che la sfocatura mostri leggermente lo sfondo
	height: 100vh; // Stessa cosa della sfumatura
	background-size: cover; // Non ci devono essere ripetizioni, l'immagine deve coprire interamente lo sfondo
	background-position: center; // Lo sfondo deve partire dal centro, in modo tale da inquadrare meglio le immagini delle sezioni che sono scattate centralmente
	filter: blur(5px) brightness(60%); // Scuriamo e blurriamo lo sfondo
	z-index: 0; // Lo sfondo, sull'asse z, deve essere indietro rispetto il testo, per non coprirlo
}

h1 {
	position: relative; // Ci posizioniamo relativamente all'immagine
	z-index: 5; // Ci spostiamo nell'asse z, in modo tale che l'immagine stia sotto
}
