<!--
	Questa pagina serve per mostrare all'utente che ha due metodologie per pagare il proprio pasto,
	permettendogli di scegliere tra pagamento con carta di credito, oppure alla cassa.  	
-->
<ion-content [fullscreen]="true" color="bianco">
	<div class="page-wrapper ion-padding ion-text-center">
		@if (!error){
		<ion-grid
			fixed
			class="ion-align-items-center ion-justify-content-center"
		>
			<ion-row class="ion-align-items-center ion-justify-content-center">
				<!-- Colonna sinistra: form -->
				<ion-col size="12" size-xl="6" class="ion-padding-end">
					<ion-card
						class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
						color="verdechiaro"
					>
						<ion-text
							class="ion-text-center ion-padding-horizontal"
						>
							<h2 class="text-color-bianco">PAGAMENTO</h2>
						</ion-text>

						<ion-text
							class="ion-text-center ion-padding-horizontal"
						>
							<h4 class="text-color-bianco">
								Dovrai pagare {{ totale }}€
							</h4>
						</ion-text>

						<!-- Bottone finale -->
						<ion-button
							(click)="pagaCarta()"
							size="default"
							fill="solid"
							shape="round"
							color="rosso"
							expand="block"
							class="ion-padding-horizontal ion-padding-vertical text-color-bianco"
						>
							PAGA CON CARTA
						</ion-button>
						<ion-button
							(click)="pagaCassa()"
							size="default"
							fill="solid"
							shape="round"
							color="rosso"
							expand="block"
							class="ion-padding-horizontal ion-padding-vertical text-color-bianco"
						>
							PAGA ALLA CASSA
						</ion-button>
					</ion-card>
				</ion-col>
				<!-- Colonna destra: immagine -->
				<ion-col size="6" class="ion-hide-xl-down ion-padding-start">
					<ion-img
						src="/assets/illustrations/SceltaPagamento.png"
					></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	} @else{
		<ion-text>
		<h1 style="color: var(--ion-color-rosso)">
			Errore: per favore riprova più tardi!
		</h1>
	</ion-text>
	}
	</div>
</ion-content>
