<ion-content fullscreen color="light" class="ion-padding">
	<ion-grid>
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<!-- Colonna sinistra: form -->
			<ion-col size="12" size-md="6" class="form-col">
				<ion-card class="address-card">
					<h1>PAGAMENTO</h1>

					<ion-card-content>
						<p>Dovrai pagare {{ totale }}€</p>

						<!-- Bottone finale -->
						<ion-button fill="solid" shape="round">
							<ion-text
								[routerLink]="['/pagamento-carta']"
								color="light"
								>PAGA CON CARTA</ion-text
							>
						</ion-button>
						<ion-button
							[routerLink]="['/pagamento-cassa']"
							fill="solid"
							shape="round"
						>
							<ion-text color="light">PAGA ALLA CASSA</ion-text>
						</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<!-- Colonna destra: immagine -->
			<ion-col size="12" size-md="6" class="image-col">
				<ion-img
					src="/assets/illustrations/SceltaPagamento.png"
				></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
