.plate {
	display: flex;
	flex-direction: row;
	gap: 2em;
	padding: 7em 2em 7em 2em;
	text-align: left;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: fit-content;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 1); // Creiamo l'ombra sotto il container del piatto

	.plateInfo {
		display: flex;
		flex-direction: column;
		gap: 1em;
		text-align: left;
		justify-content: start;
		align-items: start;
		word-wrap: break-word; // Per andare a capo nel testo se necessario
		width: 50%;
	}

	// Prendiamo nello shadow-dom dell'ion-img il sotto-componente image
	ion-img::part(image) {
		width: 250px;
		height: 250px;
		border-radius: 100%;
		object-fit: cover;
		aspect-ratio: 1/1; // Per forzare l'immagine quadrata
	}
}

// Quando lo schermo diventa più piccolo, anche le informazioni del piatto vengono disposte in colonne
@media (max-width: 768px) {
	.plate {
		display: flex;
		flex-direction: column; // disponiamo il contenuto in verticale invece che in orizzontale

		.plateInfo {
			width: 100%;
		}
	}
}

// I bottoni devono essere disposti in verticale
.button-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
}
