<div
	class="plate"
	[ngClass]="isPiattoGiorno ? 'bg-color-verdescuro' : 'bg-color-verdechiaro'"
>
	<ion-img [src]="prodotto.immagine" alt="Immagine del piatto" />
	<div class="plateInfo">
		<ion-text class="ion-text-left">
			<h2 class="text-color-bianco">
				{{ prodotto.nome }} - {{ prodotto.costo }} €
			</h2>
		</ion-text>
		<ion-text class="ion-text-left">
			<h3 class="text-color-bianco">{{ prodotto.descrizione }}</h3>
		</ion-text>
	</div>
	@if (isOrdinazione) {
		<div class="button-group">
			<ion-button
				(click)="aggiungiAlCarrello(prodotto)"
				size="default"
				fill="solid"
				shape="round"
				color="arancione"
				expand="block"
				type="submit"
				class="ion-padding-horizontal"
			>
				AGGIUNGI AL CARRELLO
			</ion-button>
			<ion-button
				(click)="rimuoviDalCarrello(prodotto)"
				size="default"
				fill="solid"
				shape="round"
				color="rosso"
				expand="block"
				type="submit"
				class="ion-padding-horizontal text-color-bianco"
			>
				RIMUOVI DAL CARRELLO
			</ion-button>
		</div>
		<div>
			<ion-text class="ion-text-left">
				<h2 class="text-color-bianco text-color-bianco">
					Qt: {{ quantity }}
				</h2>
			</ion-text>
		</div>
	}
</div>
