// Sfochiamo lo sfondo per dare distacco
#blur {
	position: absolute; // Ci permette di mettere il blur sopra lo sfondo
	z-index: -1; // Lo mettiamo davanti all'immagine ma dietro il testo
	backdrop-filter: blur(5px); // Aggiungiamo il blur
	width: 100vw; // Il blur deve prendere tutta la dimensione orizzontale
	height: 100vh; // Ed anche quella verticale
}

#background {
	position: absolute; // Ci permette di mettere l'immagine sotto il testo
	z-index: -2; // Lo mettiamo dietro al testo ed al blur
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	background-size: cover; // L'immagine prende interamente la dimensione a costo di venir ritagliata leggermente
	background-position: center; // Lo sfondo deve essere centrato
	filter: brightness(60%); // Scuriamo l'immagine
}

#hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column; // Dispone i figli della div in colonna
	justify-content: center; // Centra verticalmente
	align-items: center; // Centra orizzontalmente

	h1 {
		margin-bottom: 30px;
	}

	#chevron {
		position: absolute;
		bottom: 0; // Posizioniamo lo chevron in fondo alla pagina
		margin-bottom: 15vh;
		animation: pulse 2s ease-in-out infinite; // Animazione di puslsazione
	}

	// Keyframe dell'animazione
	@keyframes pulse {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		50% {
			transform: scale(1.4);
			opacity: 0.3;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}
