<ion-content [fullscreen]="true" color="light">
	<ion-grid fixed class="ion-align-items-center ion-justify-content-center">
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<!-- Colonna sinistra: immagine -->
			<ion-col size="6" class="ion-hide-xl-down ion-padding-end">
				<ion-img
					src="/assets/illustrations/MotorinoAsporto.png"
				></ion-img>
			</ion-col>

			<!-- Colonna destra: form -->
			<ion-col size="9" sizeSm="10" sizeXl="6">
				<ion-card
					class="ion-padding-vertical ion-text-center ion-align-items-center ion-justify-content-center"
					color="salmone"
				>
					<ion-text class="text-full ion-padding-horizontal">
						<h2 class="text-color-bianco ion-text-center">
							ASPORTO <br />
							INFORMAZIONI AGGIUNTIVE
						</h2>
					</ion-text>

					<ion-text
						class="ion-text-center ion-padding-horizontal ion-padding-vertical"
					>
						<h5 class="text-color-bianco">
							Inserisci il tuo indirizzo per ricevere comodamente
							l'ordine alla tua posizione corrente.
						</h5>
					</ion-text>

					<!-- Input indirizzo -->

					<div class="form-fields ion-padding-horizontal">
						<ion-item
							class="campo-form ion-padding-horizontal"
							lines="none"
						>
							<ion-input
								placeholder="Inserisci il tuo indirizzo..."
								label="Indirizzo"
								labelPlacement="floating"
								[(ngModel)]="testoRicerca"
								(ionInput)="avviaRicerca()"
								class="ion-padding-horizontal"
							/>
						</ion-item>

						<div class="autocomplete-wrapper">
							@if(indirizziTrovati.length) {
							<ion-list>
								@for(luogo of indirizziTrovati; track
								luogo.address) {
								<ion-item (click)="selezionaIndirizzo(luogo)">
									{{ luogo.address.freeformAddress }}
								</ion-item>
								} </ion-list
							>}
						</div>

						<ion-button
							(click)="procedi()"
							[disabled]="caricamentoInCorso || !coordinateSelezionate"
							size="default"
							fill="solid"
							shape="round"
							color="verdechiaro"
							expand="block"
							type="submit"
							class="ion-padding-horizontal ion-padding-vertical"
						>
							PROCEDI
						</ion-button>
					</div>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
