<ion-content fullscreen color="light" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <!-- Colonna sinistra: immagine -->
      <ion-col size="12" size-md="6" class="image-col">
        <ion-img src="/assets/illustrations/MotorinoAsporto.png"></ion-img>
      </ion-col>

      <!-- Colonna destra: form -->
      <ion-col size="12" size-md="6" class="form-col">
        <ion-card class="address-card">
          <h1>INFORMAZIONI AGGIUNTIVE</h1>

          <ion-card-content>
            <p>
              Inserisci il tuo indirizzo per ricevere comodamente
              l'ordine alla tua posizione corrente.
            </p>

            <!-- Input indirizzo -->
            <ion-input
              label="Inserisci l'indirizzo"
              label-placement="floating"
              fill="solid"
              [(ngModel)]="testoRicerca"
              (ionInput)="avviaRicerca()"
            ></ion-input>

            <div class="autocomplete-wrapper">
              <ion-list *ngIf="indirizziTrovati.length">
                <ion-item *ngFor="let luogo of indirizziTrovati" (click)="selezionaIndirizzo(luogo)">
                  {{ luogo.address.freeformAddress }}
                </ion-item>
              </ion-list>
            </div>

            <!--
            <ion-text>
              <p>Inserisci orario di consegna:</p>
            </ion-text>

            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="time" id="datetime" value="12:00"></ion-datetime>
              </ng-template>
            </ion-modal>
            -->

           <ion-button
  (click)="procedi()"
  [disabled]="caricamentoInCorso || !coordinateSelezionate"
  fill="solid"
  shape="round"
  color="primary"
>
  <ion-text color="light">PROCEDI</ion-text>
</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
